<div class="container no-horizontal-padding">
  <div class="d-flex justify-content-between align-items-center mb-0 section-header">
    <div class="d-flex align-items-center gap-2">
      <button class="close-menu-btn mt-5" (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
      </button>
      <h5 class="mb-0 font-17"><span class="font-17-medium"
          >Manage Support Tickets</span></h5>
    </div>
    <div class="filter-container w-300">
      <div class="search-bar h-32">
        <input type="text" class="form-control search-input fs-13" placeholder="Search tickets..."
          (keyup)="keyup2()" (keydown.enter)="onEnterKey1($event)" name="search" [(ngModel)]="searchTerm" />
        <button class="filter-btn" (click)="toggleDropdown()">
          {{ selectedFilter }}
          <i class="bi bi-filter"></i>
        </button>
      </div>
      <ul class="dropdown-menu" [class.show]="isDropdownOpen">
        <li *ngFor="let status of filterOptions">
          <a class="dropdown-item" (click)="applyFilter(status.label, status.value)">
            {{ status.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mb-3 ticket-container w-100-pr-0" id="activityItem" (scroll)="onScroll()">
    <div class="col-12 ">
      <div *ngIf="isLoading" class="text-center my-4">
        <div class="spinner-border text-primary" role="status"></div>
        <p>Loading...</p>
      </div>
      <div *ngIf="!isLoading && filteredTickets?.length === 0" class="text-center w-100 no-data-container  custom-faq">
        <img src="assets/img/no-data-concept.jpg" alt="No Data Available" class="img-fluid no-data-img" />
      </div>
      <div *ngIf="!isLoading && filteredTickets?.length > 0" class="row pl-15-pt-15-pb-20">
        <div class="col-md-6 col-lg-6 col-sm-12 mb-3" *ngFor="let ticket of filteredTickets" #activityItem>
          <div class="ticket-card p-3">
            <div class="d-flex justify-content-between">
              <a class="ticket-link fs-13">#{{ ticket.TICKET_NO }}</a>
              <span class="text-muted fs-12">{{formatDate(ticket.LAST_RESPONDED)}}</span>
            </div>
            <div class="mt-2">
              <span class="label">Question</span>
              <span *ngIf="ticket['QUESTION'] != null">
                <p *ngIf="ticket['QUESTION'].length >= 40" [title]="ticket['QUESTION']"
                 class="mb-1-fs-14">
                  {{
                  ticket["QUESTION"] == null
                  ? "-"
                  : (ticket["QUESTION"] | slice : 0 : 40)
                  }}{{ ticket["QUESTION"].length > 40 ? "..." : "" }}
                </p>
                <p *ngIf="ticket['QUESTION'].length < 40" class="mb-1-fs-14">
                  {{
                  ticket["QUESTION"] == null
                  ? "-"
                  : (ticket["QUESTION"] | slice : 0 : 40)
                  }}
                  {{ ticket["QUESTION"].length > 40 ? "..." : "" }}
                </p>
              </span>
              <p *ngIf="ticket['QUESTION'] == null" class="mb-1">-</p>
              <span class="label">Subject</span>
              <span *ngIf="ticket['SUBJECT'] != null">
                <p *ngIf="ticket['SUBJECT'].length >= 40" [title]="ticket['SUBJECT']" class="mb-1-fs-14"
                  >
                  {{
                  ticket["SUBJECT"] == null
                  ? "-"
                  : (ticket["SUBJECT"] | slice : 0 : 40)
                  }}{{ ticket["SUBJECT"].length > 40 ? "..." : "" }}
                </p>
                <p *ngIf="ticket['SUBJECT'].length < 40" class="mb-1-fs-14" >
                  {{
                  ticket["SUBJECT"] == null
                  ? "-"
                  : (ticket["SUBJECT"] | slice : 0 : 40)
                  }}
                  {{ ticket["SUBJECT"].length > 40 ? "..." : "" }}
                </p>
              </span>
              <p *ngIf="ticket['SUBJECT'] == null" class="mb-1">-</p>
              <div class="d-flex justify-content-between align-items-center mt-3 mt-5">
                <div class="text-center">
                  <p class="label">Status</p>
                  <span class="status-badge">
                    <span *ngIf="ticket.STATUS == 'P'" class="fs-11"> Pending </span>
                    <span *ngIf="ticket.STATUS == 'B'" class="fs-11"> Banned </span>
                    <span *ngIf="ticket.STATUS == 'C'" class="fs-11"> Closed </span>
                    <span *ngIf="ticket.STATUS == 'O'" class="fs-11"> Reopen </span>
                    <span *ngIf="ticket.STATUS == 'R'" class="fs-11"> Answered </span>
                    <span *ngIf="ticket.STATUS == 'S'" class="fs-11"> Assigned </span>
                    <span *ngIf="ticket.STATUS == 'H'" class="fs-11"> On Hold </span>
                  </span>
                </div>
                <div class="text-center">
                  <p class="label">Last Responded</p>
                  <span class="status-badge"class="fs-11">{{
                    formatTimeAgo(ticket.LAST_RESPONDED)
                    }}</span>
                </div>
              </div>
              <button class="btn w-100 mt-3 btn-custom"(click)="openChat(ticket)">
                View Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="manage-tickets px-22percent">
      <button   *ngIf="isWarrantyValid()" class="btn btn-primary w-100 bg-2a3b8f-fs-13" (click)="createTickets()" >
        Create Support Ticket
      </button>
    </div>
  </div>
</div>
<div *ngIf="createTickitVisible" id="showtickets" class="offcanvas offcanvas-end widthclass" tabindex="-1"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-body p-0">
    <app-order-manage-tickets [shoporderid]="shoporderid" [drawerClose]="closeCallback"
      [DrawerVisible]="createTickitVisible" [orderid]="orderid" [jobcardid]="jobcardid"></app-order-manage-tickets>
  </div>
</div>
<div id="offcanvasChat" *ngIf="chatVisible" class="offcanvas offcanvas-end widthclass" tabindex="-1"
  [ngClass]="{ 'show': chatVisible }" aria-labelledby="offcanvasChatLabel">
  <div class="offcanvas-body p-0">
    <app-order-ticket-chat [drawerData]="drawerData" [drawerClose]="chatCallback" [DrawerVisible]="chatVisible"
      [orderdata]="orderdata"></app-order-ticket-chat>
  </div>
</div>