<!-- {{warrentydata | json }} -->

<!-- {{type}} -->

<div class="container" style="padding-left: 0px;padding-right: 0px;">
  <div class="d-flex justify-content-between align-items-center mb-0" style="padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eaeaea;">
    <!-- Left Side -->
    <div class="d-flex align-items-center gap-2">
      <button class="close-menu-btn" style="margin-top: 5px" (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
      </button>
      <h5 class="mb-0" style="font-size: 17px !important;"><span
          style="font-weight: 500;font-size: 17px !important;">Manage Support Tickets</span></h5>
    </div>

    <!-- Right Side -->
    <!-- <div class="d-flex gap-2">
      <input
        type="text"
        class="form-control search-input"
        placeholder="Search tickets..."
        [(ngModel)]="searchTerm"
        (input)="filterTickets()"
      />
      <div class="dropdown">
        <button
          class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ selectedFilter }}
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let status of filterOptions">
            <a class="dropdown-item" (click)="applyFilter(status)">{{
              status
            }}</a>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="filter-container" style="width: 300px;">
      <div class="search-bar" style="height: 32px;">
        <input type="text" class="form-control search-input" style="font-size: 13px;" placeholder="Search tickets..."
          (keyup)="keyup2()" (keydown.enter)="onEnterKey1($event)" name="search" [(ngModel)]="searchTerm" />
        <button class="filter-btn" (click)="toggleDropdown()">
          {{ selectedFilter }}
          <i class="bi bi-filter"></i>
        </button>
      </div>

      <ul class="dropdown-menu" [class.show]="isDropdownOpen">
        <li *ngFor="let status of filterOptions">
          <a class="dropdown-item" (click)="applyFilter(status.label, status.value)">
            {{ status.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>



  <div class="row mb-3 ticket-container" id="activityItem" (scroll)="onScroll()"
    style="width: 100% !important;padding-right: 0px;">

    <div class="col-12 ">


      <div *ngIf="isLoading" class="text-center my-4">
        <div class="spinner-border text-primary" role="status"></div>
        <p>Loading...</p>
      </div>

      <div *ngIf="!isLoading && filteredTickets?.length === 0" class="text-center w-100 no-data-container  custom-faq">
        <img src="assets/img/no-data-concept.jpg" alt="No Data Available" class="img-fluid no-data-img" />
      </div>

      <div *ngIf="!isLoading && filteredTickets?.length > 0" class="row" style="padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 20px;">
        <div class="col-md-6 col-lg-6 col-sm-12 mb-3" *ngFor="let ticket of filteredTickets" #activityItem>
          <div class="ticket-card p-3">
            <div class="d-flex justify-content-between">
              <a class="ticket-link" style="font-size: 13px;">#{{ ticket.TICKET_NO }}</a>
              <span class="text-muted" style="font-size: 12px !important">{{formatDate(ticket.LAST_RESPONDED)}}</span>
            </div>
            <div class="mt-2">
              <span class="label">Question</span>
              <!-- <p>{{ ticket.QUESTION }}</p> -->
              <span *ngIf="ticket['QUESTION'] != null">
                <p *ngIf="ticket['QUESTION'].length >= 40" [title]="ticket['QUESTION']"
                  style="margin-bottom: 1px;font-size: 14px;">
                  {{
                  ticket["QUESTION"] == null
                  ? "-"
                  : (ticket["QUESTION"] | slice : 0 : 40)
                  }}{{ ticket["QUESTION"].length > 40 ? "..." : "" }}
                </p>
                <p *ngIf="ticket['QUESTION'].length < 40" style="margin-bottom: 1px;font-size: 14px;">
                  {{
                  ticket["QUESTION"] == null
                  ? "-"
                  : (ticket["QUESTION"] | slice : 0 : 40)
                  }}
                  {{ ticket["QUESTION"].length > 40 ? "..." : "" }}
                </p>
              </span>
              <p *ngIf="ticket['QUESTION'] == null" style="margin-bottom: 1px;">-</p>

              <span class="label">Subject</span>
              <!-- <p>{{ ticket.SUBJECT }}</p> -->
              <span *ngIf="ticket['SUBJECT'] != null">
                <p *ngIf="ticket['SUBJECT'].length >= 40" [title]="ticket['SUBJECT']"
                  style="margin-bottom: 1px;font-size: 14px;">
                  {{
                  ticket["SUBJECT"] == null
                  ? "-"
                  : (ticket["SUBJECT"] | slice : 0 : 40)
                  }}{{ ticket["SUBJECT"].length > 40 ? "..." : "" }}
                </p>
                <p *ngIf="ticket['SUBJECT'].length < 40" style="margin-bottom: 1px;font-size: 14px;">
                  {{
                  ticket["SUBJECT"] == null
                  ? "-"
                  : (ticket["SUBJECT"] | slice : 0 : 40)
                  }}
                  {{ ticket["SUBJECT"].length > 40 ? "..." : "" }}
                </p>
              </span>
              <p *ngIf="ticket['SUBJECT'] == null" style="margin-bottom: 1px;">-</p>

              <div class="d-flex justify-content-between align-items-center mt-3" style="margin-top: 5px !important;">
                <div class="text-center">
                  <p class="label">Status</p>
                  <span class="status-badge">
                    <span *ngIf="ticket.STATUS == 'P'" style="font-size: 11px !important;"> Pending </span>
                    <span *ngIf="ticket.STATUS == 'B'" style="font-size: 11px !important;"> Banned </span>
                    <span *ngIf="ticket.STATUS == 'C'" style="font-size: 11px !important;"> Closed </span>
                    <span *ngIf="ticket.STATUS == 'O'" style="font-size: 11px !important;"> Reopen </span>
                    <span *ngIf="ticket.STATUS == 'R'" style="font-size: 11px !important;"> Answered </span>
                    <span *ngIf="ticket.STATUS == 'S'" style="font-size: 11px !important;"> Assigned </span>
                    <span *ngIf="ticket.STATUS == 'H'" style="font-size: 11px !important;"> On Hold </span>
                  </span>
                </div>

                <div class="text-center">
                  <p class="label">Last Responded</p>
                  <span class="status-badge" style="font-size: 11px !important;">{{
                    formatTimeAgo(ticket.LAST_RESPONDED)
                    }}</span>
                </div>
              </div>

              <button class="btn w-100 mt-3" style="background-color: #2A3B8F;
;    color: white;
font-weight: 600;     font-size: 13px;" (click)="openChat(ticket)">
                View Details
              </button>
            </div>
          </div>
        </div>


      </div>
    </div>
    <!-- <div class="manage-tickets" style="padding-left: 43%; padding-right: 22%">
    <button *ngIf="totalRecords > filteredTickets.length && filteredTickets.length > 0" 
      class="btn btn-primary w-30" (click)="loadMore()">
      Load More
    </button>
  </div> -->

  </div>
  <div class="footer">
    <div class="manage-tickets" style="padding-left: 22%; padding-right: 22%">
      <button   *ngIf="isWarrantyValid()" class="btn btn-primary w-100" (click)="createTickets()" style="background-color: #2a3b8f;font-size: 13px;">
        Create Support Ticket
      </button>
    </div>
  </div>
</div>
<!-- <div
  *ngIf="createTickitVisible"
  [ngClass]="{ 'ticket_drawer open': createTickitVisible }"
  class="ticket_drawer"
>
  <div class="drawer-content">
    <app-manage-tickits
      [drawerClose]="closeCallback"
      [DrawerVisible]="createTickitVisible"
    ></app-manage-tickits>
  </div>
</div> -->

<!-- Offcanvas Drawer -->

<div *ngIf="createTickitVisible" id="showtickets" class="offcanvas offcanvas-end widthclass" tabindex="-1"
  aria-labelledby="offcanvasRightLabel">

  <div class="offcanvas-body" style="padding: 0px;">
    <app-order-manage-tickets [shoporderid]="shoporderid" [drawerClose]="closeCallback"
      [DrawerVisible]="createTickitVisible" [orderid]="orderid" [jobcardid]="jobcardid"></app-order-manage-tickets>
  </div>
</div>


<!-- Offcanvas Drawer -->
<div id="offcanvasChat" *ngIf="chatVisible" class="offcanvas offcanvas-end widthclass" tabindex="-1"
  [ngClass]="{ 'show': chatVisible }" aria-labelledby="offcanvasChatLabel">
  <!-- <div class="offcanvas-header">
    <h5 id="offcanvasChatLabel">Chat</h5>
    <button type="button" class="btn-close" (click)="chatdrawerClose()" aria-label="Close"></button>
  </div> -->
  <div class="offcanvas-body" style="padding: 0px;">
    <app-order-ticket-chat [drawerData]="drawerData" [drawerClose]="chatCallback" [DrawerVisible]="chatVisible"
      [orderdata]="orderdata"></app-order-ticket-chat>
  </div>
</div>