.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1055;
}
.spinner-size {
  width: 4rem;
  height: 4rem;
}
.cart-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}
.cart-item {
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product-img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.quantity-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-box {
  border-radius: 10px;
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.quantity-box button {
  width: 25px;
  height: 25px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 5px;
}
.quantity-box span {
  font-size: 18px;
  font-weight: bold;
}
.cart-container {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}
.outer-container {
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
}
.cart-container::-webkit-scrollbar {
  width: 5px;
}
.cart-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.cart-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.cart-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.cart-item {}
.cart-card {
  background: #fff;
  border-radius: 12px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
}
.cart-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.cart-icon-service {
  width: 42px;
  height: 42px;
  background: #e7f0ff;
  color: #0057d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}
.cart-title-text {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  margin: 0;
}
.cart-delete {
  background: none;
  border: none;
  color: #666;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.cart-details {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
}
.cart-label {
  font-size: 12px;
  color: #888;
}
.cart-value {
  font-size: 14px;
  font-weight: bold;
}
.cart-bottom {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #666;
  padding: 12px 0;
}
.cart-icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #ddd;
  color: red;
  font-size: 18px;
}
.checkout-btn {
  background: #2979ff;
  color: white;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}
.checkout-btn:hover {
  background: #0057d9;
}
.po {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.variant-name {
  display: inline-block;
  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.height-55vh-center {
  height: 55vh;
  align-content: center
}
.size-100x80 {
  width: 100px;
  height: 80px
}
.padding-10 {
  padding: 10px;
}
.height-170-full-width {
  height: 170px;
  width: 100%;
}
.font-15-500-mt10 {
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px !important;
}
.my-10-important {
  margin: 10px 0px 10px !important;
}
.font-13-500 {
  font-weight: 500;
  font-size: 13px;
}
.font-13-400 {
  font-weight: 400;
  font-size: 13px;
}
.font-13 {
  font-size: 13px;
}
.font-13-600 {
  font-weight: 600;
  font-size: 13px;
}
.width-47-font-13-600 {
  width: 47%;
  font-weight: 600;
  font-size: 13px;
}
.mb-5-font-14-500 {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}
.font-14-500 {
  font-weight: 500;
  font-size: 14px;
}
.mb-20 {
  margin-bottom: 20px
}
.size-50x50 {
  width: 50px;
  height: 50px;
}
.img-36-contain {
  width: 36px;
  height: 36px;
  object-fit: contain;
}
.font-14 {
  font-size: 14px;
}
.pt-0 {
  padding-top: 0px;
}
.font-12 {
  font-size: 12px
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.size-30x30 {
  width: 30px;
  height: 30px;
}
.font-12-400 {
  font-weight: 400;
  font-size: 12px;
}
.size-60x40 {
  width: 60px;
  height: 40px
}
.padding-7-font-13 {
  padding: 7px !important;
  font-size: 13px;
}
.width-640 {
  width: 640px
}
.text-14 {
  font-size: 14px
}