<div *ngIf="!loadepage">
  <div class="offcanvas-body p-0-important" >
    <div
      *ngIf="isExpressOn"
      class="border rounded p-3 bg-light text-13-mb-10-bg-white"
    >
      <div class="d-flex align-items-center">
        <input
          type="radio"
          id="expressService"
          value="true"
          name="serviceOption"
          class="me-2"
          checked
        />
        <label for="expressService" class="fw-bold font-14">
          <i>Express Service</i>
        </label>
      </div>
      <p class="text-muted font-12" >
        Same day service with our express checkout option with an additional
        charge
      </p>
      <div *ngIf="isExpressOn" class="d-flex justify-content-center mt-2">
        <button
          class="btn w-50-font-13"
          [ngClass]="{
            'btn-outline-primary': !IS_EXPRESS_Update,
            'btn-outline-danger': IS_EXPRESS_Update
          }"
          (click)="toggleExpressService()"
        >
          {{
            IS_EXPRESS_Update ? "Remove Express Service" : "Use Express Service"
          }}
        </button>
      </div>
    </div>
    <p class="text-center mt-3 font-13-mt0-left">
      Please select a date and time for the technician's visit
    </p>
    <div
      class="border date-time-container font-13-bg-white"
    >
      <div class="date-picker-container">
        <label class="form-label font-13" >Select a date</label>
        <p class="selected-date font-12" >
          {{ selectedDate }}
        </p>
        <div class="date-scroll">
          <button
            *ngFor="let date of dates"
            class="date-button font-12"
            [ngClass]="{
              selected: selectedDate.trim() === date.fullDate.trim()
            }"
            (click)="selectDate(date.fullDate)"
          >
            <span class="day">{{ date.display.split(" ")[0] }}</span>
            <span class="date">{{ date.display.split(" ")[1] }}</span>
          </button>
        </div>
      </div>
      <div class="time-slot-container">
        <label class="form-label fw-bold font-13" >
          Select a time slot
        </label>
        <div class="time-slot-wrapper">
          <div *ngFor="let period of timeSlots" class="time-slot">
            <p class="slot-title text-left-font-13">
              {{ period.period }}
            </p>
            <button
              class="slot-button"
              [ngClass]="{
                'selected-slot':
                  selectedSlot ===
                  formatTime(period.times.start) +
                    ' - ' +
                    formatTime(period.times.end)
              }"
              (click)="selectSlot(period.times)"
              [disabled]="period.times.disabled"
            >
              <span class="time-range">
                {{ formatTime(period.times.start) }}<br />-<br />{{
                  formatTime(period.times.end)
                }}
              </span>
            </button>
          </div>
        </div>
      </div>
      <p *ngIf="isAllSlotsDisabled()" 
      class="no-slots-message text-red-font-14-mt-11" 
      >
      No time slots are available for the selected date. 
              </p>
    </div>
    <div
      class="border p-3 mt-3 rounded-8-font-13"
    >
      <label class="form-label fw-bold font-13" >Remarks</label>
          <input type="text" class="form-control font-12" [(ngModel)]="remark"
    [placeholder]="'home.remarks_placeholder' | translate"  maxlength="256"
    (focus)="isFocused = 'REMARK'" (blur)="isFocused = ''" />
  <h6 *ngIf="isFocused === 'REMARK'" class="text-red-font-10-mt-4">
    {{ remark?.length || 0 }}/256
  </h6>
    </div>
  </div>
  <div class="offcanvas-footer border-top p-3 d-flex align-items-center">
    <button
      class="btn btn-outline-secondary flex-grow-0 me-2 font-13"
      (click)="closeData()"
    >
      Back
    </button>
    <button class="btn btn-light flex-grow-0 me-2">
    </button>
    <button
      class="btn btn-dark flex-grow-1 text-white font-14"
      (click)="bookNow()"
    >
      Confirm
    </button>
  </div>
</div>
