.loader-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
    animation: fadeOutContainer 3s forwards;
}
.loader-content {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    position: absolute;
    width: 100%;
    opacity: 0;
}
.first-logo {
    animation: fadeOutLogo 1s ease-out forwards;
}
.second-logo {
    animation: fadeInZoom 0.3s 1s ease-out forwards,
        pulseGlow 1.7s 1.3s ease-in-out infinite;
}
.version-text {
    position: absolute;
    bottom: -30px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    opacity: 0;
    animation: fadeInText 0.5s 1.5s ease-out forwards;
}
@keyframes fadeOutLogo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOutContainer {
    0%,
    99% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}