<footer class="footer" style="    margin-top: 20px;">
  <div class="footer-content">
    <div class="footer-left">
      <div class="footer-logo">
        <img src="assets/img/pockitwebfooterimage.png" alt="PockIT Engineers Logo" />
      </div>
      <ul class="footer-links">
        <!-- routerLink="/about-us" -->
        <li class="paddingleftttt"><a>About Us</a></li>
        <li class="paddingleftttt"><a routerLink="/terms-and-conditions">Terms & Conditions</a></li>
        <li class="paddingleftttt"><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <!-- <li><a href="/careers">Careers</a></li> -->
        <!-- <li class="paddingleftttt"><a>Blogs</a></li> -->
        <li class="paddingleftttt" routerLink="/contact-us"><a>Contact Us</a></li>
      </ul>
    </div>
  

    <div class="footer-social" style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
      <!-- First Row -->
      <div style="display: flex; gap: 15px;">
        <p style="color: white;
    margin-top: 7px;
    font-size: 15px;
    margin-bottom: 1rem;
    font-weight: 600;">Social Connect - </p>
        <a href="https://api.whatsapp.com/send?phone=9582700865" target="_blank">
          <i class="bi bi-whatsapp"></i>
        </a>
        <a href="https://www.linkedin.com/company/pockit-engineers/about/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>

      <!-- Second Row -->
      <div style="display: flex; gap: 15px;">
          <p style="color: white;
    margin-top: 7px;
    font-size: 15px;
    margin-bottom: 1rem;
    font-weight: 600;">Download App - </p>
        <a href="https://play.google.com/store/apps/details?id=com.pockitcust" target="_blank">
          <i class=" bi-android2"></i>
           
        </a>
        <a href="https://apps.apple.com/in/app/pockit/id6745779480" target="_blank">
          <i class="bi bi-apple"></i>
        </a>
      </div>
    </div> 






  </div>
</footer>