<footer class="footer custom-margin-top-20">
  <div class="footer-content">
    <div class="footer-left">
      <div class="footer-logo">
        <img src="assets/img/pockitwebfooterimage.png" alt="PockIT Engineers Logo" />
      </div>
      <ul class="footer-links">
        <li class="paddingleftttt"><a>About Us</a></li>
        <li class="paddingleftttt"><a routerLink="/terms-and-conditions">Terms & Conditions</a></li>
        <li class="paddingleftttt"><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <li class="paddingleftttt" routerLink="/contact-us"><a>Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-social custom-flex-column-center-gap-10">
      <div class="custom-flex-gap-15">
        <p class="custom-white-text-mt-7-font-15">Social Connect - </p>
        <a href="https://api.whatsapp.com/send?phone=9582700865" target="_blank">
          <i class="bi bi-whatsapp"></i>
        </a>
        <a href="https://www.linkedin.com/company/pockit-engineers/about/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
      <div class="custom-flex-gap-15">
          <p class="custom-white-text-mt-7-font-15">Download App - </p>
        <a href="https://play.google.com/store/apps/details?id=com.pockitcust" target="_blank">
          <i class=" bi-android2"></i>
        </a>
        <a href="https://apps.apple.com/in/app/pockit/id6745779480" target="_blank">
          <i class="bi bi-apple"></i>
        </a>
      </div>
    </div> 
  </div>
</footer>