body {
  font-family: Arial, sans-serif;
}
.product-image {
  width: 100%;
  height: 400px;
  background-color: #ddd;
  border-radius: 10px;
}
.thumb {
  width: 60px;
  height: 60px;
  background-color: #ddd;
  border-radius: 5px;
}
.icon {
  width: 70px;
  height: 70px;
  background-color: #f8f9fa;
  border-radius: 50%;
}
p {
  white-space: pre-line;
  word-wrap: break-word;
}
.hero .carousel-item {
  position: relative;
  width: 100%;
  height: 55vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero.carousel {
  width: 100%;
  min-height: 40vh;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}
.quantity-container {
  display: flex;
  align-items: center;
}
.quantity-input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
}
.quantity-btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.btn-outline-primary {
  border-width: 2px;
  font-size: 16px;
}
.po {
  overflow-y: auto;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
}
.equal-height {
  height: 35px;
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.1rem !important;
  }
  p {
    font-size: 14px !important;
  }
  h3 {
    font-size: 1.4rem !important;
  }
}
.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 576px) {
  .suggestion-modal-body h5 {
    font-size: 16px !important;
  }
  .suggestion-modal-body p {
    font-size: 14px !important;
  }
  .suggestion-modal-content {
    padding: 20px 10px !important;
  }
}
#addressmodalSubCatClick {
  z-index: 12000 !important;
}
.modal-backdrop.show {
  z-index: 11000 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
#map {
  width: 100%;
  height: 60vh;
  border-radius: 8px;
  margin-top: 10px;
}
body.modal-open {
  overflow: hidden;
}
.modal.fade.show {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
#addressmodalSubCatClick .modal-content {
  background-color: #fff !important;
  border-radius: 8px;
  border: none;
}
@media (max-width: 768px) {
  #map {
    height: 50vh;
  }
}
.flex-center-50vw {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vw;
}
.pt-20-br-4 {
  padding-top: 20px;
  border-radius: 4px
}
.unique-box {
  padding: 8px;
  border-radius: 8px !important;
  box-shadow: none !important;
}
.height-243px {
  height: 243px !important
}
.padding-vertical-10 {
  padding: 10px 0px !important
}
.full-size-clickable {
  height: 100%;
  width: 100%;
  cursor: pointer
}
.text-style-15-500 {
  font-size: 15px !important;
  font-weight: 500 !important;
  margin-bottom: 3px !important;
}
.text-style-13-500-gray {
  font-weight: 500 !important;
  color: #636363 !important;
  margin-bottom: 10px !important;
  font-size: 13px !important;
}
.text-13-500-gray-red {
  color: red;
  font-weight: 500 !important;
  color: #636363 !important;
  margin-bottom: 10px !important;
  font-size: 13px !important;
}
.mt-10 {
  margin-top: 10px
}
.text-14-600-blue {
  color: #2a3b8f;
  font-weight: 600;
  font-size: 14px !important;
  margin-bottom: 3px !important;
}
.text-14-600 {
  font-weight: 600;
  font-size: 14px !important
}
.text-11-400-gray {
  font-weight: 400 !important;
  font-size: 11px !important;
  margin-bottom: 10px !important;
  color: gray;
}
.box-50px {
  width: 50px;
  height: 50px;
  background-color: #e7e6e6;
  padding: 11px;
}
.bg-white {
  background-color: white !important
}
.size-25px {
  height: 25px !important;
  width: 25px !important
}
.text-10-black {
  font-size: 10px !important;
  color: #0e0e0e !important
}
.pt-20 {
  padding-top: 20px
}
.full-width-rounded {
  width: 100%;
  border-radius: 8px
}
.p-10 {
  padding: 10px !important
}
.text-15-500 {
  font-size: 15px !important;
  font-weight: 500 !important
}
.my-5-8 {
  margin-top: 5px;
  margin-bottom: 8px
}
.scrollable-max-280 {
  max-height: 280px;
  overflow-y: auto;
  display: block
}
.my-19-25 {
  margin-top: 19px !important;
  margin-bottom: 25px !important
}
.text-14-500 {
  font-size: 14px !important;
  font-weight: 500 !important
}
.rounded-border-16 {
  border-radius: 8px;
  border-width: 1px;
  font-size: 16px;
  border: 1px solid !important;
}
.text-20-500-gray {
  border: none;
  font-size: 20px !important;
  color: #605c5c;
  font-weight: 500 !important;
}
.text-14-3170de {
  border-color: #3170de;
  color: #3170de;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}
.btn-3170de {
  background-color: #3170de;
  font-size: 14px !important;
  margin-bottom: 0px !important;
  border-radius: 5px;
  border-color: #3170de;
  color: white;
  border: none;
}
.text-13-500-blue {
  font-size: 13px;
  color: #034a95;
  text-decoration: none;
  font-weight: 500;
}
.size-14px {
  width: 14px;
  height: 14px;
}
.card-style {
  border-radius: 12px;
  background: #fff;
  color: #000;
  text-align: center;
  border: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 20px;
}
.ml-0 {
  margin-left: 0px
}
.text-15-555 {
  font-size: 15px;
  color: #555;
  line-height: 1.5
}
.transition-500 {
  transition: 0.3s;
  font-weight: 500
}
.btn-0052cc {
  background-color: #0052cc;
  border-color: #0052cc;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}
.top-right-10 {
  top: 10px;
  right: 10px
}
.text-16-600 {
  font-size: 16px;
  font-weight: 600
}
.text-14 {
  font-size: 14px
}
.fullscreen-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1055;
  overflow-y: auto;
}
.centered-container {
  max-width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card-fadein {
  border-radius: 16px;
  background: #fff;
  color: #000;
  text-align: center;
  border: none;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 20px;
  animation: fadeInUp 0.3s ease-in-out;
}
.bg-light-rounded {
  background-color: #f8f9fa;
  border-radius: 6px
}
.text-13-flex-1 {
  font-size: 13px;
  flex: 1
}
.bg-light-rounded {
  background-color: #f8f9fa;
  border-radius: 6px
}
.border-bottom-light {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 4px
}
.text-13 {
  font-size: 13px
}
.ml-10 {
  margin-left: 10px
}
.text-13-w-70 {
  font-size: 13px;
  width: 70%
}
.text-13-minw-60 {
  font-size: 13px;
  min-width: 60px
}
.ml-20-pointer-text {
  margin-left: 20px;
  cursor: pointer;
  font-size: 13px;
  color: #034a95;
}
.cursor-pointer-ptb {
  cursor: pointer;
  padding: 8px 8px 0px !important
}
.card-rounded-light {
  border-radius: 10px;
  margin-bottom: 12px;
  background-color: #f8f9fa;
  border: 0.5px solid #cbcbcb;
  transition: transform 0.3s ease-in-out;
}
.text-14-600-black {
  font-weight: 600;
  font-size: 14px;
  color: black !important;
}
.mt-0-text-12 {
  margin-top: 0px !important;
  font-size: 12px
}
.badge-style {
  background-color: #ebd1d1;
  border-radius: 5px;
  padding: 4px;
  font-size: 10px !important;
  border: 1px solid #d3a5a5;
}
.size-60x40 {
  width: 60px;
  height: 40px
}
.p-10-text-14-600 {
  padding: 10px;
  font-size: 14px;
  font-weight: 600
}
.custom-shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.coupon-link:hover {
  text-decoration: underline !important;
}
.coupon-link:not(:hover) {
  text-decoration: none;
}
.text-20-333 {
  color: #333;
  font-size: 20px
}
.p3-3 {
  padding: 3px !important
}
.line-25 {
  line-height: 25px
}
.cursor-pointer {
  cursor: pointer
}