<section class="service-section py-0">
  <div class="container pt-4 pb-4">
    <div
      class="d-flex align-items-center justify-content-between pl-10"
    >
    <div class="d-flex align-items-center">
  <span
    class="me-2 vertical-bar-small"
  ></span>
  <h2 class="fw-bold m-0 responsive-text">Refurbished Products</h2>
</div>
   <div class="dropdown width-300-relative">
  <button
    class="btn btn-outline-secondary dropdown-toggle w-100 d-flex justify-content-between align-items-center"
    type="button"
    (click)="toggleDropdown1()"
  >
    {{
      selectedOption1 === "All"
        ? "All Categories"
        : getCategoryNameById(selectedOption1)
    }}
  </button>
  <ul
    class="dropdown-menu dropdown-absolute-scroll"
    *ngIf="isDropdownOpen1"
  >
    <li>
      <a
        class="dropdown-item bg-white"
        [class.active]="selectedOption1 === 'All'"
        (click)="selectFilter2('All'); toggleDropdown1()"
      >
        All Categories
      </a>
    </li>
    <li *ngFor="let cat of InventoryCategory">
      <a
        class="dropdown-item bg-white"
        [class.active]="selectedOption1 === cat.ID"
        (click)="selectFilter2(cat.ID); toggleDropdown1()"
      >
        {{ cat.CATEGORY_NAME }}
      </a>
    </li>
  </ul>
</div>
    </div>
    <div
      class="container team d-flex justify-content-center align-items-center demo12"
    >
    </div>
<ng-container *ngIf="!loadServiceforinventory">
  <div *ngIf="filteredInventoryData.length > 0; else noDataTemplate1" class="pt-20">
      <div
        class="container team d-flex justify-content-center align-items-center demo12"
      >
        <div
          *ngIf="!loadServiceforinventory"
          class="row gx-5 justify-content-left full-width-vw"
        >
          <div
            class="col-md-4 col-sm-6 mb-4"
            *ngFor="
              let product of filteredInventoryData
                | slice : 0 : (showAll ? filteredInventoryData.length : 9)
            "
          >
            <div class="product-card">
              <div
               class="cursor-pointer"
                [routerLink]=" ['/shop/buy_now', product.ID]"
                (click)=" InventoryId(product)"
                [ngStyle]="{
                  'background-image':
                    'url(' +
                    (product.INVENTORY_IMAGE
                      ? IMAGEuRL + 'InventoryImages/' + product.INVENTORY_IMAGE
                      : 'assets/img/services/no-image.png') +
                    ')',
                  'background-size': '100% 100%',
                  'background-position': 'center',
                  'background-repeat': 'no-repeat',
                  height: '240px',
                  'border-radius': '8px',
                  'background-color': '#ffffff',
                  border: 'none'
                }"
              ></div>
              <span
                class="product-title text-ellipsis-14"
                [attr.title]="product.VARIANT_NAME || 'N/A'"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
              >
                {{ product.VARIANT_NAME || "N/A" }}
              </span>
              <span
                class="product-title text-ellipsis-12"
                [attr.title]="product.INVENTORY_CATEGORY_NAME || 'N/A'"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
              >
                {{ product.INVENTORY_CATEGORY_NAME || "N/A" }}
              </span>
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2 mb-2">
                  <div
                    *ngIf="product.UNIT_STOCK != 0" class="text-gray-12"
                  >
                    {{ product.UNIT_STOCK }}
                    {{ "shop.leftInStock" | translate }}
                  </div>
                  <div
                    *ngIf="product.UNIT_STOCK == 0"
                    class="text-danger font-12"
                  >
                    {{ "shop.outofstock" | translate }}
                  </div>
                </div>
                <div
                  *ngIf="product.QUANTITY_PER_UNIT == 1"
                  class="d-flex gap-1 text-warning"
                ></div>
                <div
                  *ngIf="product.QUANTITY_PER_UNIT != 1"
                  class="d-flex gap-1 text-warning text-orange-12"
                >
                  ( Pack of {{ product.QUANTITY_PER_UNIT }} )
                </div>
              </div>
              <hr class="mb-7px"/>
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2 mb-2">
                  <span
                    class="product-price font-bold-blue-14"
                    *ngIf="product.DISCOUNT_ALLOWED == 1"
                  >
                    ₹{{ product.DISCOUNTED_PRICE | number }}
                  </span>
                  <span class="font-bold-blue-14"
                    *ngIf="product.DISCOUNT_ALLOWED == 0"
                  >
                    ₹{{ product.SELLING_PRICE | number }}
                  </span>
                </div>
                <div class="d-flex gap-2">
                  <span
                    *ngIf="product.DISCOUNT_ALLOWED == 1"
                    class="product-old-price text-strike-14"
                  >
                    ₹{{ product.SELLING_PRICE | number }}
                  </span>
                </div>
              </div>
              <div class="d-flex gap-2">
                <button
                  *ngIf="product.IS_ALREADY_IN_CART == 1"
                  [disabled]="product.UNIT_STOCK == 0"
                  class="w-50 btn-outline-blue"
                  routerLink="/shop/cart"
                >
                  {{ "shop.gotocart" | translate }}
                </button>
<button
  *ngIf="product.IS_ALREADY_IN_CART == 0"
  [disabled]="product.UNIT_STOCK == 0 || product.loadingBuyNowcart"
  class="w-50 btn-white-outline-blue"
  (click)="
    (teritory_id !== 0 && teritory_id !== undefined && teritory_id !== null)
      ? addToCart(product, '')
      : openSuggestionModal()
  "
>
  <span
    *ngIf="product.loadingBuyNowcart"
    class="spinner-border spinner-border-sm"
  ></span>
  <span>&nbsp;{{ 'shop.AddToCart' | translate }}</span>
</button>
<button
  class="btn btn-buy w-50"
  [disabled]="product.UNIT_STOCK == 0 || product.loadingBuyNow"
  (click)="
    (teritory_id !== 0 && teritory_id !== undefined && teritory_id !== null)
      ? handleBuyNow(product)
      : openSuggestionModal()
  "
>
  <span
    *ngIf="product.loadingBuyNow"
    class="spinner-border spinner-border-sm"
  ></span>
  <span>&nbsp;{{ 'shop.buyNow' | translate }}</span>
</button>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <button
              *ngIf="filteredInventoryData.length > 9 && !showAll"
              class="btn btn-primary bg-blue-3170de"
              (click)="loadMore()"
              [disabled]="loading"
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm"
              ></span>
              {{ loading ? "Loading..." : "Load More" }}
            </button>
          </div>
        </div>
      </div>
    </div>
     <ng-template #noDataTemplate1>
        <div class="text-center p-3">
          <img
            src="assets/img/hand-drawn-no-data-concept.png"
            alt="No Data Available"
            class="img-fluid max-w-350"
          />
          <p class="text-muted mt-2">
            <b>{{ "shop.NoDataAvailable" | translate }}</b>
          </p>
        </div>
      </ng-template>
    </ng-container>
  </div>
</section>
 <div
  class="modal fade"
  id="suggestionModal"
  tabindex="-1"
  aria-labelledby="suggestionModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-4 position-relative suggestion-modal-content">
      <button
        type="button"
        class="btn-close position-absolute top-right-10"
        (click)="closeSuggestionModal()"
        aria-label="Close"
      ></button>
      <div class="modal-body mt-2 suggestion-modal-body">
        <h5
          class="modal-title mb-3 font-16-600"
          id="suggestionModalLabel"
        >
        Product Not Deliverable
        </h5>
          <p class="text-muted mb-0 font-14">
         This product can’t be delivered to your location. Please select another location.
        </p>
      </div>
    </div>
  </div>
</div>