section {
  background-color: #fff;
}
.page-title {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0 100px;
}
.mb-30 {
  margin-bottom: 30px;
}
.overlay {
  position: relative;
  isolation: isolate;
}
.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  z-index: -10;
}
.overlay-dark {
  position: relative;
  isolation: isolate;
}
.overlay-dark::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
  z-index: -10;
}
.overlay-primary {
  position: relative;
  isolation: isolate;
}
.overlay-primary::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2a3b8f;
  opacity: 0.6;
  z-index: -10;
}
.breadcrumb {
  background-color: transparent !important;
  justify-content: center;
}
.breadcrumb li,
.breadcrumb a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin: 0 10px;
}
.breadcrumb a {
  position: relative;
}
.breadcrumb a::before {
  position: absolute;
  content: "/";
  right: -17px;
  top: 2px;
  height: 12px;
}
::ng-deep .progress,
::ng-deep .progress-stacked {
  --bs-progress-height: 1rem !important;
}
.box-shadow {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}
.democlass {
  background-color: red;
  font-size: 34px;
  color: blue;
}
.noclass {
  background-color: red
}
.section-title {
  margin-bottom: 55px;
  text-align: left;
  padding-bottom: 0px;
}
.section-title-sm {
  margin-bottom: 10px;
  font-family: "SF UI Text";
  font-weight: 600;
  color: #666;
}
.overlay-zIndex-none::before {
  z-index: 0 !important;
}
.overlay {
  position: relative;
  isolation: isolate;
}
.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  z-index: -10;
}
.overlay-dark {
  position: relative;
  isolation: isolate;
}
.overlay-dark::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
  z-index: -10;
}
.overlay-primary {
  position: relative;
  isolation: isolate;
}
.overlay-primary::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2a3b8f;
  opacity: 0.6;
  z-index: -10;
}
.overlay-white {
  position: relative;
  isolation: isolate;
}
.overlay-white::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.7;
  z-index: -10;
}
.overlay-rounded::before {
  border-radius: 5px;
}
.section-title-border {
  position: relative;
}
.section-title-border::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 120px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #2a3b8f;
}
.section-title-border::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #2a3b8f;
  box-shadow: 0 0 0 5px #fff;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
.section-title-border-gray {
  position: relative;
}
.section-title-border-gray::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 120px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #2a3b8f;
}
.section-title-border-gray::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f5f5f5;
  border: 2px solid #2a3b8f;
  box-shadow: 0 0 0 5px #f5f5f5;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
.section-title-border-half {
  position: relative;
}
.section-title-border-half::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #2a3b8f;
  bottom: -14px;
  left: 0;
}
.section-title-border-half::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 50px;
  left: 15px;
  bottom: -10px;
  background: #2a3b8f;
}
.section-title-border-half-white {
  position: relative;
}
.section-title-border-half-white::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #fff;
  bottom: -14px;
  left: 0;
}
.section-title-border-half-white::after {
  background: #fff;
  position: absolute;
  content: "";
  height: 2px;
  width: 50px;
  left: 15px;
  bottom: -10px;
}
p,
.paragraph {
  font-weight: 400;
  color: #666;
  font-size: 14px;
  line-height: 25px;
  font-family: "SF UI Text";
}
.ceo-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}
.clients {
  background-position: center right;
  background-size: 50%;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .clients {
    background-size: cover !important;
    background-position: center center;
    text-align: center;
  }
}
.clients ul li {
  height: 66px;
}
.clients ul li img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}
.process-item {
  width: 330px;
}
@media (max-width: 1199px) {
  .process-item {
    width: unset;
  }
}
.process-item-number {
  position: absolute;
  left: -35px;
  top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  box-shadow: -5px 0px 40px 0px rgba(0, 0, 0, 0.1);
  font-family: "SF UI Text";
  font-weight: 700;
  font-size: 32px;
  color: #222;
}
@media (max-width: 1199px) {
  .process-item-number {
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.process-item h5 {
  margin-bottom: 5px;
  color: #2a3b8f;
}
img.arrow-top {
  position: absolute;
  top: 220px;
  right: 250px;
}
@media (max-width: 1199px) {
  img.arrow-top {
    display: none;
  }
}
img.arrow-bottom {
  position: absolute;
  bottom: 100px;
  left: 250px;
}
@media (max-width: 1199px) {
  img.arrow-bottom {
    display: none;
  }
}
.bg-secondary {
  background-color: #303032 !important;
}
.py-10 {
  padding: 10px 0;
}
.progressbar-title {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 7px;
  color: #222 !important;
}
.progress {
  border-radius: 35px;
  overflow: visible;
  margin-bottom: 35px;
}
.progress-bar {
  background-color: #303032;
  border-radius: 35px;
  position: relative;
}
.progress-bar-value {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  background: #303032;
  padding: 5px 9px;
  position: absolute;
  top: -35px;
  right: -15px;
  border-radius: 5px;
}
.progress-bar-value::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  background: #303032;
  height: 10px;
  width: 10px;
  transform: translateX(-50%) rotate(-45deg);
}
.card-header:first-child {
  border-radius: 35px;
}
.promo-video {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promo-video p {
  font-family: "Work Sans", sans-serif;
}
.testimonial-slider {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.testimonial-slider .prevArrow,
.testimonial-slider .nextArrow {
  position: absolute;
  top: 85px;
  border: 0;
  font-size: 20px;
  background: transparent;
  color: #2a3b8f;
  z-index: 9;
}
.testimonial-slider .prevArrow:focus,
.testimonial-slider .nextArrow:focus {
  outline: 0;
}
.testimonial-slider .prevArrow {
  right: 90px;
}
.testimonial-slider .nextArrow {
  right: 50px;
}
.testimonial-slider .slick-disabled {
  color: #e5e5e5;
}
.testimonial-icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #f5f5f5;
  color: #2a3b8f;
  font-size: 25px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  margin-bottom: 25px;
}
.client-logo-slider .slick-track {
  display: flex;
  align-items: center;
}
.fun-facts {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.consultation {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cta {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img-wrapper {
  position: relative;
}
.card-img-wrapper::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
  top: 0;
  left: 0;
  transition: 0.2s;
}
.card-body-2 {
  position: relative;
  transition: 0.2s ease;
  border-radius: 0 0 5px 5px;
}
.card-body-2::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background: #fff;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  transition: 0.2s ease;
}
.card:hover .card-img-wrapper::before {
  opacity: 0.4;
}
.card:hover .card-body-2 {
  background: #2a3b8f;
}
.card:hover .card-body-2 h5,
.card:hover .card-body-2 h6,
.card:hover .card-body-2 a {
  color: #fff;
}
.card:hover .card-body-2::before {
  background: #2a3b8f;
}
.overlay-rounded-top::before {
  border-radius: 5px 5px 0 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
a {
  transition: 0.2s ease;
}
a:hover {
  color: #2a3b8f;
}
a.text-dark:hover,
a.text-white:hover {
  color: #2a3b8f !important;
}
[class^="ti-"],
[class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.round-icon {
  height: 70px;
  min-width: 70px;
  max-width: 70px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  color: #2a3b8f;
  display: inline-block;
}
.client-logo-slider .slick-track {
  display: flex;
  align-items: center;
}
.fun-facts {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.page-title-bg {
  background-image: url('/assets/img/page-title.jpg');
}
.no-padding {
  padding: 0px 0px;
}
.ceo-bg {
  background-image: url('/assets/img/ceo.jpg');
}
.full-width-99 {
  width: 99%
}
.full-width-75 {
  width: 75%
}
.half-width-50 {
  width: 50%
}
.flex-center-y {
  display: flex;
  align-items: center;
}
.cta-bg {
  background-image: url('/assets/img/cta.jpg');
}