<div
  class="modal fade custom-zindex-11010"
  id="addressmodalSubCatClick"
  tabindex="-1"
  aria-labelledby="addressmodalSubCatClickLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div
      class="modal-content p-1 custom-bg-transparent-no-border"
    >
      <div class="modal-body p-2">
        <div *ngIf="modalVisible">
          <div class="map-container">
            <div
              class="map-header custom-primary-flex-box "
            >
              <div class="custom-flex-space-between-full"
              >
                <div>
                  <p
                    class="mb-0 custom-text-white-bold-16"
                  >
                    User Location (Place the marker at your order location)
                  </p>
                </div>
                <div>
                  <button
                    type="button"
                    class="custom-white-text-transparent-btn"
                    data-bs-dismiss="modal"
                    (click)="closeaddressmodalSubCatClick()"
                    aria-label="Close"
                  >
                    <i
                      class="bi bi-x custom-fontsize-26-no-padding"
                    ></i>
                  </button>
                </div>
              </div>
              <div
              class="custom-text-end-padding-6"
                *ngIf="gettruecondition()"
              >
              </div>
            </div>
            <div id="map"></div>
            <div class="location-details text-center">
              <p  class="address-text">{{ locationAddress || "Fetching address..." }}</p>
            </div>
            <div class="map-footer">
              <button
                [disabled]="!locationAddress"
                class="custom-primary-btn-transition"
                (click)="confirmLocation()"
              >
                Confirm Location
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="showAddressDetailsForm" class="address-form-container">
          <div class="card shadow-sm address-form-card custom-border-none">
            <div
              class="card-header position-relative d-flex align-items-center justify-content-center custom-height-80-no-border-bottom"
            >
              <div class="icon-wrapper">
                <svg
                  width="66"
                  height="67"
                  viewBox="0 0 66 67"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="33"
                    cy="33.5"
                    r="32.7988"
                    stroke="#FFDFBE"
                    stroke-width="0.402439"
                  />
                  <circle
                    cx="33.0004"
                    cy="33.5"
                    r="26.3598"
                    stroke="#FFDFBE"
                    stroke-width="0.402439"
                  />
                  <path
                    d="M20.6299 39.7112C16.1906 33.6198 16.8468 25.2031 22.1766 19.8733C28.154 13.8959 37.8454 13.8959 43.8228 19.8733C49.1526 25.2031 49.8088 33.6198 45.3695 39.7112L36.0195 52.541C34.5271 54.5888 31.4723 54.5888 29.9799 52.541L20.6299 39.7112Z"
                    fill="#2A3B8F"
                  />
                  <circle
                    cx="33.0137"
                    cy="31.5595"
                    r="5.97857"
                    fill="#FDEEE9"
                  />
                </svg>
              </div>
              <div>
                <button
                  type="button"
                  class="close-btn"
                  data-bs-dismiss="modal"
                  (click)="closeaddressmodalSubCatClick()"
                  aria-label="Close"
                >
                  <i
                    class="bi bi-x custom-fontsize-26-no-padding"
                  ></i>
                </button>
              </div>
            </div>
            <form
              #addressSubmit="ngForm"
              (ngSubmit)="saveAddressAdd(addressSubmit)"
              class="p-3"
            >
              <div class="custom-bg-scrollable-70vh"
              >
                <h2
                  class="form-title mb-0 ms-3 custom-padding-bottom-15-font17"
                >
                  Enter address details
                </h2>
                <div
                  class="mb-3 custom-card-radius-padding-bg"
                >
                  <label
                    class="form-label text-muted small custom-display-flex"
                    >Save address as *</label
                  >
                  <div class="btn-group custom-btn-group">
                    <button
                      type="button"
                      class="btn custom-mr-10-important"
                      [ngClass]="{
                        'btn-outline-primary': addressForm.TYPE !== 'H',
                        'btn-primary': addressForm.TYPE === 'H',
                        colorcodes: addressForm.TYPE === 'H'
                      }"
                      (click)="addressForm.TYPE = 'H'"
                    >
                      Home
                    </button>
                    <button
                      type="button"
                      class="btn custom-mr-10-important"
                      [ngClass]="{
                        'btn-outline-primary': addressForm.TYPE !== 'F',
                        'btn-primary': addressForm.TYPE === 'F',
                        colorcodes: addressForm.TYPE === 'F'
                      }"
                      (click)="addressForm.TYPE = 'F'"
                    >
                      Work
                    </button>
                    <button
                      type="button"
                      class="btn custom-mr-10-important custom-ml-10"
                      [ngClass]="{
                        'btn-outline-primary': addressForm.TYPE !== 'O',
                        'btn-primary': addressForm.TYPE === 'O',
                        colorcodes: addressForm.TYPE === 'O'
                      }"
                      (click)="addressForm.TYPE = 'O'"
                    >
                      Other
                    </button>
                  </div>
                </div>
                <div class="mb-3 contact-details" *ngIf="!asGuest">
                  <label class="form-label custom-font-13"
                    >Contact Person Details</label
                  >
                  <div class="custom-font-13">
                    {{ data.CUSTOMER_NAME }}
                    <b>{{ data.CUSTOMER_MOBILE_NO }}</b>
                  </div>
                </div>
                <div class="custom-card-radius-padding-bg"
                >
                  <div
                    class="form-group position-relative service-card"
                  >
                    <button
                      type="button"
                      class="btn btn-link position-absolute end-0 top-50 translate-middle-y custom-font-13"
                      (click)="onshowMap()"
                    >
                      Change Location
                    </button>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="House number/flat no/floor no"
                        [(ngModel)]="addressForm.ADDRESS_LINE_1"
                        name="addressLine1"
                        required
                        #addressLine1="ngModel"
                        autocomplete="off"
                        maxlength="256"
                      />
                      <div
                        *ngIf="(addressLine1.errors?.['required'] && (addressLine1.touched || addressSubmitted))"
                        class="error-message"
                      >
                        Please enter house number/flat no/floor no.
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Area/street/village"
                        [(ngModel)]="addressForm.ADDRESS_LINE_2"
                        name="addressLine2"
                        autocomplete="off"
                        required
                        #addressLine2="ngModel"
                        maxlength="256"
                      />
                      <div
                        *ngIf="(addressLine2.errors?.['required'] && (addressLine2.touched || addressSubmitted))"
                        class="error-message"
                      >
                        Please enter Area/street/village.
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Landmark (optional)"
                        [(ngModel)]="addressForm.LANDMARK"
                        name="landmark"
                        autocomplete="off"
                        maxlength="128"
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="position-relative">
                        <div class="dropdown-wrapper">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="selectedPincode"
                            placeholder="Select pincode"
                            name="pincode"
                            #pincode="ngModel"
                            required
                            maxlength="64"
                            readonly
                            autocomplete="off"
                          />
                          <div
                            *ngIf="isPincodeLoading"
                             class="loading-container1 spinner-inside"
                          >
                            <div
                              class="spinner-border text-center"
                              role="status"
                            >
                              <span class="visually-hidden">Loading...</span>
                            </div>
                          </div>
                        </div>
                        <div
                        class="back-btn"
                          *ngIf="
                            pincode.invalid &&
                            (pincode.touched || addressSubmitted)
                          "
                          class="text-danger mt-1"
                        >
                          <div *ngIf="pincode.errors?.['required']">
                            Please select pincode.
                          </div>
                          <div *ngIf="pincode.errors?.['maxlength']">
                            Max length exceeded.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="addressForm.CITY_NAME"
                        [placeholder]="'Enter City'"
                        name="CITY_NAME"
                        autocomplete="off"
                        maxlength="128"
                        required
                        #CITY_NAME="ngModel"
                      />
                      <div
                        *ngIf="(CITY_NAME.errors?.['required'] && (CITY_NAME.touched || addressSubmitted))"
                        class="error-message"
                      >
                        Please enter City.
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="position-relative">
                        <div
                          class="dropdown-wrapper"
                          (click)="
                            toggleStatesDropdown(); $event.stopPropagation()
                          "
                        >
                          <input
                            type="text"
                            class="form-control"
                            [value]="selectedState || 'Select State...'"
                            readonly
                            autocomplete="off"
                          />
                          <span class="dropdown-icon"></span>
                        </div>
                        <div
                          *ngIf="showStateDropdown"
                          class="dropdown-menu show"
                        >
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Search State..."
                            [(ngModel)]="searchState"
                            name="stateSearch"
                            (input)="filterStates($event)"
                            (click)="$event.stopPropagation()"
                            autocomplete="off"
                          />
                          <div
                            class="dropdown-item"
                            *ngFor="let state of filteredStates"
                            (click)="selectState(state)"
                          >
                            {{ state.NAME }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                  <button
                    [disabled]="isAddrssSaving"
                    type="submit"
                    class="btn btn-primary w-100"
                  >
                    <span
                      *ngIf="isAddrssSaving"
                      class="spinner-border spinner-border-sm me-2"
                    ></span>
                    Confirm
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
