section {
  background-color: #fff;
}
.page-title {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0 100px;
}
.mb-30 {
  margin-bottom: 30px;
}
.overlay {
  position: relative;
  isolation: isolate;
}
.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  z-index: -10;
}
.overlay-dark {
  position: relative;
  isolation: isolate;
}
.overlay-dark::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
  z-index: -10;
}
.overlay-primary {
  position: relative;
  isolation: isolate;
}
.overlay-primary::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2a3b8f;
  opacity: 0.6;
  z-index: -10;
}
.breadcrumb {
  background-color: transparent !important;
  justify-content: center;
}
.breadcrumb li,
.breadcrumb a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin: 0 10px;
}
.breadcrumb a {
  position: relative;
}
.breadcrumb a::before {
  position: absolute;
  content: "/";
  right: -17px;
  top: 2px;
  height: 12px;
}
.box-shadow {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}
.form-control {
  border-radius: 5px;
  padding: 0 15px 2px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #666;
}
.form-control:focus {
  border-color: #2a3b8f;
  box-shadow: none !important;
}
.form-control::-moz-placeholder {
  color: #666;
}
.form-control::placeholder {
  color: #666;
}
.btn {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 35px;
  font-weight: 600;
  white-space: nowrap;
  border: 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn:active {
  box-shadow: none;
}
.btn-primary {
  background: #2a3b8f;
  color: #fff;
}
.btn-primary:active {
  background: #2a3b8f !important;
}
.btn-primary:hover {
  background: #4a4ad2;
}
.btn-secondary {
  background: #303032;
  color: #fff;
}
.btn-secondary:active {
  background: #2a3b8f !important;
}
.btn-secondary:hover {
  background: #2a3b8f !important;
  background: #4a4ad2;
}
.btn-light {
  background: #fff;
  color: #222;
  border: 2px solid #fff;
}
.btn-light:hover {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-outline {
  background: transparent;
  color: #222;
  border: 2px solid #303032;
}
.btn-outline:hover {
  background: #303032;
  color: #fff;
}
.btn-sm {
  padding: 13px 40px !important;
}
.round-icon {
  height: 70px;
  min-width: 70px;
  max-width: 70px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  color: #2a3b8f;
  display: inline-block;
}
.square-icon {
  height: 65px;
  width: 65px;
  background: #2a3b8f;
  color: #fff;
  font-size: 35px;
  line-height: 65px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
.txtcolo {
  color: black !important;
}
.txtcolo:hover {
  color: #2a3b8f !important;
}
.custom-bg-image-page-title {
  background-image: url('/assets/img/page-title.jpg');
}
.custom-block-center-text {
  display: block !important;
  text-align: center;
}
.custom-margin-top-20 {
  margin-top: 20px;
}
.custom-word-break-mt-20 {
  word-break: break-word;
  margin-top: 20px !important;
}
.custom-word-break {
  word-break: break-word;
}
.custom-margin-top-7 {
  margin-top: 7px;
}