<section class="page-title overlay custom-bg-image-page-title">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="text-white fw-bold">Contact Us</h2>
        </div>
      </div>
    </div>
  </section>
<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4  ">
          <ul class="ps-0">
            <li class="d-flex mb-30 custom-block-center-text">
              <i class="bi bi-phone round-icon me-3"></i>
              <div class="align-self-center font-primary">
                <p class="custom-margin-top-20"><a href="tel: +91 9873076300" class="txtcolo">+91 9873076300</a></p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-4  ">
          <ul class="ps-0">
            <li class="d-flex mb-30 custom-block-center-text">
              <i class="bi bi-envelope round-icon me-3"></i>
              <div class="align-self-center font-primary">
                <p class="custom-word-break-mt-20 txtcolo"><a href="mailto:itsupport@pockitengineers.com">itsupport@pockitengineers.com</a></p>
                <p class="txtcolo custom-word-break"><a href="https://my.pockitengineers.com/" target="_blank" >https://my.pockitengineers.com</a></p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-4  ">
          <ul class="ps-0">
            <li class="d-flex mb-30 custom-block-center-text">
              <i class="bi bi-geo-alt round-icon me-3"></i>
              <div class="align-self-center font-primary">
                <p class="txtcolo custom-margin-top-20">POCKIT TECHNOLOGIES PRIVATE LIMITED</p>
                <p class="txtcolo custom-margin-top-7">B901, Kapil Abhijat, <br>Dahanukar Colony, Kothrud, <br>Pune&nbsp;411038</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>