<section class="page-title overlay" style="background-image: url(assets/img/page-title.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="text-white fw-bold">Contact Us</h2>
          <!-- <ol class="breadcrumb">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li><a href="#" style="cursor: text;">About Us</a></li><li>Contact</li>
          </ol> -->
        </div>
      </div>
    </div>
  </section>

<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4  ">
          <!-- <h2 class="section-title">Contact Us</h2> -->
          <ul class="ps-0">
            <li class="d-flex mb-30" style="display: block !important;text-align: center;">
              <i class="bi bi-phone round-icon me-3"></i>
              <div class="align-self-center font-primary">
                <p style="margin-top: 20px;"><a href="tel: +91 9873076300" class="txtcolo">+91 9873076300</a></p>
              </div>
            </li>
          </ul>
          
          
        </div>
        <div class="col-12 col-lg-4  ">
          <!-- <h2 class="section-title">Contact Us</h2> -->
          <ul class="ps-0">
            
            <li class="d-flex mb-30" style="display: block !important;text-align: center;">
              <i class="bi bi-envelope round-icon me-3"></i>
              <div class="align-self-center font-primary">
                <p style="word-break: break-word;margin-top: 20px !important;"><a href="mailto:itsupport@pockitengineers.com" class="txtcolo">itsupport@pockitengineers.com</a></p>
                <p style="word-break: break-word;"><a href="https://my.pockitengineers.com/" target="_blank" class="txtcolo">https://my.pockitengineers.com</a></p>
              </div>
            </li>
          </ul>
          
          
        </div>
        <div class="col-12 col-lg-4  ">
          <!-- <h2 class="section-title">Contact Us</h2> -->
          <ul class="ps-0">
           
            <li class="d-flex mb-30" style="display: block !important;text-align: center;">
              <i class="bi bi-geo-alt round-icon me-3"></i>
              <div class="align-self-center font-primary">
                <p class="txtcolo" style="margin-top: 20px;">POCKIT TECHNOLOGIES PRIVATE LIMITED</p>
                <p style="margin-top: 7px;" class="txtcolo">B901, Kapil Abhijat, <br>Dahanukar Colony, Kothrud, <br>Pune&nbsp;411038</p>
              </div>
            </li>
          </ul>
          
          
        </div>
        <!-- form -->
        <!-- <div class=" col-12 col-lg-6 col-md-7">
          <div class="p-5 rounded box-shadow" style="padding: 2rem !important;">
            <form action="#" class="row">
              <div class="col-12">
                <h3>Contact Form</h3>
              </div>
              <div class="col-lg-6">
                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="">
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" required="">
              </div>
              <div class="col-12">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" required="">
              </div>
              <div class="col-12">
                <textarea class="form-control p-2" name="message" id="message" placeholder="Your Message Here..." required="" style="height: 120px"></textarea>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit" value="send" style="padding: 10px 30px;">
                  Submit Now
                </button>
              </div>
            </form>
          </div>
        </div> -->
      </div>
    </div>
  </section>