.mobile-menu-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}
.mobile-menu-header {
  padding: 12px;
  background-color: #f8f8f8;

  .close-menu-btn {
    border: none;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.language-list-container {
  padding: 12px;

  .language-option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;

    input[type="radio"] {
      appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid #3f51b5;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      background-color: #fff; // Outer circle white

      &:checked {
        &::after {
          content: "";
          width: 10px;
          height: 10px;
          background-color: #3f51b5; // Inner circle blue
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    label {
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      flex-grow: 1;
    }
  }

  .loading-spinner {
    text-align: center;
    padding: 16px;
    font-size: 14px;
    color: #666;
  }
}

// Responsiveness
@media (min-width: 768px) {
  .language-list-container {
    padding: 18px;
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .language-list-container {
    max-width: 600px;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  .spinner-border {
    width: 2rem;
    height: 2rem;
    border-width: 0.25rem;
    color: #3170de; // This sets the color to your desired color
  }
}
