<div class="container">
  <div *ngIf="loaddata" class="spinner-overlay">
    <div class="spinner-border text-primary spinner-size" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div class="card p-4 mb-4 mt-4 custom-style" >
    <div class="order-details-container">
      <h3 class="bold-large-text">
        {{ "shop.OrderDetails" | translate }}
      </h3>
      <div *ngIf="orderdataarray?.INVOICE_NUMBER">
        <button class="btn  btn-sm invoice-btn-xs"
          (click)="downloadshopinvoice(orderdataarray.INVOICE_NUMBER)">
          <i class="bi bi-download me-1"></i>
          Invoice
        </button>
      </div>
      <div class="position-absolute top-0 end-0 p-3 custom-padding" 
        *ngIf=" currentterritory !== 0  && !orderdataarray?.IS_CANCELATION_REQUESTED  && orderdataarray?.ORDER_STATUS !=='OC'  && orderdataarray?.ORDER_STATUS !=='OR' && OrderCardData !== 'OS' && OrderCardData === 'OP' ">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-light newclass padding-0-6" ngbDropdownToggle >
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul ngbDropdownMenu class="dropdown-menu-end padding-2">
            <li *ngIf="OrderCardData == 'OP' && !orderdataarray?.IS_CANCELATION_REQUESTED">
              <a  class="dropdown-item pointer-text" (click)="openDrawer('cancel')">
                <i class="bi bi-x-circle me-2"></i>{{ "order_details.cancel" | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="position-absolute top-0 end-0 p-3 custom-padding" 
        *ngIf=" currentterritory !== 0  && !orderdataarray?.IS_CANCELATION_REQUESTED  && orderdataarray?.ORDER_STATUS !=='OC'  && orderdataarray?.ORDER_STATUS !=='OR' && orderdataarray?.ORDER_STATUS === 'OS' ">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-light newclass padding-0-6" ngbDropdownToggle >
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul ngbDropdownMenu class="dropdown-menu-end">
            <li *ngIf="OrderCardData === 'OS' && currentterritory !== 0">
              <a  class="dropdown-item cursor-pointer" (click)="openticketdrawer()">
                <i class="bi bi-ticket-detailed me-2 text-blue-dark"></i>
                {{ "Raise Support Ticket" }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 custom-card" >
        <div class="card-body">
          <div>
            <div *ngFor="let DetailsData of OrderDetailsData">
              <div class="col-12 text-center mb-3">
                <img [src]="
                    DetailsData.INVENTORY_IMAGE
                      ? IMAGEuRL +
                        'InventoryImages/' +
                        DetailsData.INVENTORY_IMAGE
                      : 'assets/img/services/no-image.png'
                  "  class="img-fluid card-custom" alt="{{ DetailsData.BRAND_NAME }}"
                  (error)="handleImageError($event)" />
              </div>
              <h6 class="text-strong">
                {{ DetailsData.VARIANT_NAME }}
              </h6>
              <h6 class="text-muted-small">
                {{ DetailsData.CATEGORY_NAME }}
              </h6>
              <div 
                class="d-flex align-items-center justify-content-between mt-3 medium-margin-top" *ngIf="
                  DetailsData != undefined &&
                  DetailsData.WARRANTY_CARD !== null &&
                  DetailsData.WARRANTY_CARD !== undefined &&
                  DetailsData.WARRANTY_CARD !== ''
                ">
                <span class="me-2 medium-text" >Warrantee Card</span>
                <div class="input-group input-group-sm w-auto text-15" >
                  <svg class="cursor-pointer"  (click)="openwaranteecard(DetailsData.WARRANTY_CARD)"
                    xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none">
                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M12.5535 16.5061C12.4114 16.6615 12.2106 16.75 12 16.75C11.7894 16.75 11.5886 16.6615 11.4465 16.5061L7.44648 12.1311C7.16698 11.8254 7.18822 11.351 7.49392 11.0715C7.79963 10.792 8.27402 10.8132 8.55352 11.1189L11.25 14.0682V3C11.25 2.58579 11.5858 2.25 12 2.25C12.4142 2.25 12.75 2.58579 12.75 3V14.0682L15.4465 11.1189C15.726 10.8132 16.2004 10.792 16.5061 11.0715C16.8118 11.351 16.833 11.8254 16.5535 12.1311L12.5535 16.5061Z"
                        fill="#2a3b8f" />
                      <path
                        d="M3.75 15C3.75 14.5858 3.41422 14.25 3 14.25C2.58579 14.25 2.25 14.5858 2.25 15V15.0549C2.24998 16.4225 2.24996 17.5248 2.36652 18.3918C2.48754 19.2919 2.74643 20.0497 3.34835 20.6516C3.95027 21.2536 4.70814 21.5125 5.60825 21.6335C6.47522 21.75 7.57754 21.75 8.94513 21.75H15.0549C16.4225 21.75 17.5248 21.75 18.3918 21.6335C19.2919 21.5125 20.0497 21.2536 20.6517 20.6516C21.2536 20.0497 21.5125 19.2919 21.6335 18.3918C21.75 17.5248 21.75 16.4225 21.75 15.0549V15C21.75 14.5858 21.4142 14.25 21 14.25C20.5858 14.25 20.25 14.5858 20.25 15C20.25 16.4354 20.2484 17.4365 20.1469 18.1919C20.0482 18.9257 19.8678 19.3142 19.591 19.591C19.3142 19.8678 18.9257 20.0482 18.1919 20.1469C17.4365 20.2484 16.4354 20.25 15 20.25H9C7.56459 20.25 6.56347 20.2484 5.80812 20.1469C5.07435 20.0482 4.68577 19.8678 4.40901 19.591C4.13225 19.3142 3.9518 18.9257 3.85315 18.1919C3.75159 17.4365 3.75 16.4354 3.75 15Z"
                        fill="#2a3b8f" />
                    </g>
                  </svg>
                </div>
              </div>
              <div 
                class="d-flex align-items-center justify-content-between mt-3 medium-margin-top-10">
                <span class="me-2 medium-text" >{{ "shop.Quantity" | translate
                  }}</span>
                <div class="input-group input-group-sm w-auto text-15" >
                  {{ DetailsData.QUANTITY }}
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div *ngFor="let summary of OrderSummaryData">
            <p class="mb-1 medium-text" >
              {{ "shop.Items" | translate }}:
              <span class="float-end medium-text" >&#8377; {{
                summary.GROSS_AMOUNT | number }}</span>
            </p>
            <p class="mb-1 medium-text" >
              {{ "shop.Delivery" | translate }}:
              <span class="float-end medium-text" >&#8377; {{
                summary.DELIVERY_CHARGES | number }}</span>
            </p>
            <p class="mb-1 medium-text" >
              {{ "shop.Discount" | translate }}:
              <span class="float-end medium-text" >- &#8377; {{
                summary.DISCOUNT_CHARGES | number }}</span>
            </p>
            <hr />
            <p class="medium-text" >
              {{ "shop.Total" | translate }}:
              <span class="float-end medium-text" >&#8377; {{ summary.NET_AMOUNT
                | number }}</span>
            </p>
          </div>
          <hr />
          <div *ngFor="let address of OrderAddressData">
            <p class="fw-bold mb-1 text-semibold-mb10">
              {{ "shop.DeliveryTo" | translate }}
            </p>
            <p *ngIf="address.ARCHIVE_FLAG == 'H'" class="mb-1">
              <i class="bi bi-house-door"></i> &nbsp;
              <b class="font-medium" >{{
                "shop.Home" | translate
                }}</b>
            </p>
            <p *ngIf="address.ARCHIVE_FLAG == 'F'" class="mb-1">
              <i class="bi bi-building"></i> &nbsp;
              <b class="font-medium" >{{
                "shop.Office" | translate
                }}</b>
            </p>
            <p class="text-muted small">
              {{ address.ADDRESS_LINE_1 + " " + address.ADDRESS_LINE_2 }}
            </p>
          </div>
          <hr />
          <p class="fw-bold text-success no-margin-text">
            {{ "shop.DeliverBy" | translate }} :
            <b class="text-14" >{{
              Orderdata
              | date
              : "MMMM d, y -
              hh:mm a"
              }}</b>
          </p>
        </div>
      </div>
      <div class="col-md-6 mobile-padding rounded-13">
        <div *ngIf="orderdataarray?.ORDER_STATUS === 'OR'" class="alert alert-danger mt-1 rounded-padding"
          >
          <div class="d-flex align-items-center">
            <i class="bi bi-x-circle-fill text-danger me-2"></i>
            <strong>{{
              "order_details.order_rejected" | translate
              }}</strong>
          </div>
          <p class="mt-1 text-muted text-13-no-mb" >
            {{
            orderdataarray?.REJECTION_REMARK ||("order_details.no_remark_provided" | translate)
            }}
          </p>
        </div>
        <div
          *ngIf="orderdataarray?.ACCEPTANCE_REMARK !==null && orderdataarray?.ACCEPTANCE_REMARK !==undefined && orderdataarray?.ACCEPTANCE_REMARK !==''"
          class="alert alert-success mt-1 rounded-padding" >
          <div class="d-flex align-items-center">
            <i class="bi bi-check-circle-fill text-success me-2"></i>
            <strong>{{
              "order_details.order_accepted" | translate
              }}</strong>
          </div>
          <p class="mt-1 text-muted text-13-no-mb" >
            {{ orderdataarray?.ACCEPTANCE_REMARK }}
          </p>
        </div>
        <div *ngIf="orderdataarray?.CANCELLATION_REMARK && orderdataarray?.ORDER_STATUS !=='OC'"
          class="alert alert-warning mt-1 rounded-padding" >
          <div class="d-flex align-items-center">
            <i class="bi bi-exclamation-circle-fill text-warning me-2"></i>
            <strong>{{
              "order_details.cancellation_rejected" | translate
              }}</strong>
          </div>
          <p class="mt-1 text-muted text-13-no-mb" >
            {{
            orderdataarray?.CANCELLATION_REMARK ||
            ("order_details.cancellation_rejected_without_remark"
            | translate)
            }}
          </p>
        </div>
        <div class="accordion scrollable-content1">
          <div class="accordion-item shadow-sm rounded card-top-shadow" >
            <button
              class="btn btn-outline-primary w-100 text-start fw-semibold d-flex justify-content-between align-items-center text-black-no-border"
              type="button" (click)="toggleAccordion()" [attr.aria-expanded]="isAccordionOpen" >
              <span><svg xmlns="http://www.w3.org/2000/svg" width="17" height="19" viewBox="0 0 17 19" fill="none">
                  <path
                    d="M3.03349 4.34689H7.10048M3.03349 6.78709H8.72728M9.88764 14L10.7608 14.8731L13.1339 12.5M11.5742 9.32753V2.3134C11.5742 1.86417 11.21 1.5 10.7608 1.5H1.8134C1.36417 1.5 1 1.86417 1 2.3134V15.3278C1 15.777 1.36417 16.1412 1.8134 16.1412H8.30167M15.4308 13.4138C15.4308 15.6705 13.6013 17.5 11.3445 17.5C9.08776 17.5 7.25829 15.6705 7.25829 13.4138C7.25829 11.157 9.08776 9.32753 11.3445 9.32753C13.6013 9.32753 15.4308 11.157 15.4308 13.4138Z"
                    stroke="#2A3B8F" stroke-width="1.3" stroke-linecap="round" />
                </svg>
                {{ "shop.OrderStatus" | translate }}
                <button  class="btn btn-primary m-2 label-blue" (click)="TrackOrderGetURL()" *ngIf="
                    !gettrackurlBoole &&
                    orderdataarray != undefined &&
                    orderdataarray?.IS_SHIP_ORDER &&
                    (orderdataarray?.ORDER_STATUS == 'OS' ||
                      orderdataarray?.ORDER_STATUS == 'DO')
                  ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 1024 1024"
                    class="icon" version="1.1" fill="#3170DE" stroke="#3170DE">
                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M709.485714 277.942857C709.485714 160.914286 614.4 65.828571 497.371429 65.828571S292.571429 160.914286 292.571429 277.942857c0 73.142857 204.8 358.4 204.8 358.4s212.114286-277.942857 212.114285-358.4z"
                        fill="#ffffffF4B1B2" />
                      <path
                        d="M497.371429 709.485714l-21.942858-29.257143c-36.571429-51.2-219.428571-307.2-219.428571-387.657142C256 160.914286 365.714286 51.2 497.371429 51.2s241.371429 109.714286 241.371428 241.371429c0 87.771429-182.857143 336.457143-226.742857 387.657142l-14.628571 29.257143z m0-607.085714C394.971429 102.4 307.2 182.857143 307.2 292.571429c0 43.885714 102.4 204.8 190.171429 321.828571C585.142857 497.371429 687.542857 336.457143 687.542857 292.571429c0-109.714286-87.771429-190.171429-190.171428-190.171429z"
                        fill="#ffffff" />
                      <path
                        d="M928.914286 819.2H102.4C58.514286 819.2 14.628571 782.628571 14.628571 731.428571s36.571429-87.771429 87.771429-87.771428h138.971429c14.628571 0 29.257143 14.628571 29.257142 29.257143s-7.314286 29.257143-21.942857 29.257143h-146.285714c-14.628571 0-29.257143 14.628571-29.257143 29.257142s14.628571 29.257143 29.257143 29.257143h819.2c14.628571 0 29.257143 14.628571 29.257143 29.257143s-7.314286 29.257143-21.942857 29.257143z"
                        fill="#ffffff" />
                      <path
                        d="M928.914286 936.228571H226.742857c-14.628571 0-29.257143-14.628571-29.257143-29.257142s14.628571-29.257143 29.257143-29.257143h694.857143c14.628571 0 29.257143-14.628571 29.257143-29.257143s-14.628571-29.257143-29.257143-29.257143H102.4c-14.628571 0-29.257143-14.628571-29.257143-29.257143s14.628571-29.257143 29.257143-29.257143h819.2c43.885714 0 87.771429 36.571429 87.771429 87.771429s-36.571429 87.771429-80.457143 87.771428z"
                        fill="#ffffff" />
                      <path
                        d="M497.371429 263.314286m-80.457143 0a80.457143 80.457143 0 1 0 160.914285 0 80.457143 80.457143 0 1 0-160.914285 0Z"
                        fill="#ffffffFDFBFB" />
                      <path
                        d="M497.371429 365.714286C438.857143 365.714286 394.971429 321.828571 394.971429 263.314286S438.857143 160.914286 497.371429 160.914286s102.4 43.885714 102.4 102.4S555.885714 365.714286 497.371429 365.714286z m0-153.6c-29.257143 0-51.2 21.942857-51.2 51.2s21.942857 51.2 51.2 51.2 51.2-21.942857 51.2-51.2-21.942857-51.2-51.2-51.2z"
                        fill="#ffffff" />
                    </g>
                  </svg>
                  &nbsp; Track Order
                </button>
                <button  class="btn btn-primary m-2 label-blue" *ngIf="
                    gettrackurlBoole &&
                    orderdataarray != undefined &&
                    orderdataarray?.IS_SHIP_ORDER &&
                    (orderdataarray?.ORDER_STATUS == 'OS' ||
                      orderdataarray?.ORDER_STATUS == 'DO')
                  ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 1024 1024"
                    class="icon" version="1.1" fill="#3170DE" stroke="#3170DE">
                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M709.485714 277.942857C709.485714 160.914286 614.4 65.828571 497.371429 65.828571S292.571429 160.914286 292.571429 277.942857c0 73.142857 204.8 358.4 204.8 358.4s212.114286-277.942857 212.114285-358.4z"
                        fill="#ffffffF4B1B2" />
                      <path
                        d="M497.371429 709.485714l-21.942858-29.257143c-36.571429-51.2-219.428571-307.2-219.428571-387.657142C256 160.914286 365.714286 51.2 497.371429 51.2s241.371429 109.714286 241.371428 241.371429c0 87.771429-182.857143 336.457143-226.742857 387.657142l-14.628571 29.257143z m0-607.085714C394.971429 102.4 307.2 182.857143 307.2 292.571429c0 43.885714 102.4 204.8 190.171429 321.828571C585.142857 497.371429 687.542857 336.457143 687.542857 292.571429c0-109.714286-87.771429-190.171429-190.171428-190.171429z"
                        fill="#ffffff" />
                      <path
                        d="M928.914286 819.2H102.4C58.514286 819.2 14.628571 782.628571 14.628571 731.428571s36.571429-87.771429 87.771429-87.771428h138.971429c14.628571 0 29.257143 14.628571 29.257142 29.257143s-7.314286 29.257143-21.942857 29.257143h-146.285714c-14.628571 0-29.257143 14.628571-29.257143 29.257142s14.628571 29.257143 29.257143 29.257143h819.2c14.628571 0 29.257143 14.628571 29.257143 29.257143s-7.314286 29.257143-21.942857 29.257143z"
                        fill="#ffffff" />
                      <path
                        d="M928.914286 936.228571H226.742857c-14.628571 0-29.257143-14.628571-29.257143-29.257142s14.628571-29.257143 29.257143-29.257143h694.857143c14.628571 0 29.257143-14.628571 29.257143-29.257143s-14.628571-29.257143-29.257143-29.257143H102.4c-14.628571 0-29.257143-14.628571-29.257143-29.257143s14.628571-29.257143 29.257143-29.257143h819.2c43.885714 0 87.771429 36.571429 87.771429 87.771429s-36.571429 87.771429-80.457143 87.771428z"
                        fill="#ffffff" />
                      <path
                        d="M497.371429 263.314286m-80.457143 0a80.457143 80.457143 0 1 0 160.914285 0 80.457143 80.457143 0 1 0-160.914285 0Z"
                        fill="#ffffffFDFBFB" />
                      <path
                        d="M497.371429 365.714286C438.857143 365.714286 394.971429 321.828571 394.971429 263.314286S438.857143 160.914286 497.371429 160.914286s102.4 43.885714 102.4 102.4S555.885714 365.714286 497.371429 365.714286z m0-153.6c-29.257143 0-51.2 21.942857-51.2 51.2s21.942857 51.2 51.2 51.2 51.2-21.942857 51.2-51.2-21.942857-51.2-51.2-51.2z"
                        fill="#ffffff" />
                    </g>
                  </svg>
                  &nbsp; Track Order&nbsp;
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
                <button  class="btn btn-primary m-2 label-blue" *ngIf="
                    !gettrackurlBoole &&
                    orderdataarray != undefined &&
                    !orderdataarray?.IS_SHIP_ORDER &&
                    orderdataarray?.MANUAL_COURIER_URL !== null &&
                    orderdataarray?.MANUAL_COURIER_URL !== undefined &&
                    orderdataarray?.MANUAL_COURIER_URL !== '' &&
                    (orderdataarray?.ORDER_STATUS == 'OS' ||
                      orderdataarray?.ORDER_STATUS == 'DO')
                  " (click)="ClickTrack(orderdataarray?.MANUAL_COURIER_URL)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 1024 1024"
                    class="icon" version="1.1" fill="#3170DE" stroke="#3170DE">
                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M709.485714 277.942857C709.485714 160.914286 614.4 65.828571 497.371429 65.828571S292.571429 160.914286 292.571429 277.942857c0 73.142857 204.8 358.4 204.8 358.4s212.114286-277.942857 212.114285-358.4z"
                        fill="#ffffffF4B1B2" />
                      <path
                        d="M497.371429 709.485714l-21.942858-29.257143c-36.571429-51.2-219.428571-307.2-219.428571-387.657142C256 160.914286 365.714286 51.2 497.371429 51.2s241.371429 109.714286 241.371428 241.371429c0 87.771429-182.857143 336.457143-226.742857 387.657142l-14.628571 29.257143z m0-607.085714C394.971429 102.4 307.2 182.857143 307.2 292.571429c0 43.885714 102.4 204.8 190.171429 321.828571C585.142857 497.371429 687.542857 336.457143 687.542857 292.571429c0-109.714286-87.771429-190.171429-190.171428-190.171429z"
                        fill="#ffffff" />
                      <path
                        d="M928.914286 819.2H102.4C58.514286 819.2 14.628571 782.628571 14.628571 731.428571s36.571429-87.771429 87.771429-87.771428h138.971429c14.628571 0 29.257143 14.628571 29.257142 29.257143s-7.314286 29.257143-21.942857 29.257143h-146.285714c-14.628571 0-29.257143 14.628571-29.257143 29.257142s14.628571 29.257143 29.257143 29.257143h819.2c14.628571 0 29.257143 14.628571 29.257143 29.257143s-7.314286 29.257143-21.942857 29.257143z"
                        fill="#ffffff" />
                      <path
                        d="M928.914286 936.228571H226.742857c-14.628571 0-29.257143-14.628571-29.257143-29.257142s14.628571-29.257143 29.257143-29.257143h694.857143c14.628571 0 29.257143-14.628571 29.257143-29.257143s-14.628571-29.257143-29.257143-29.257143H102.4c-14.628571 0-29.257143-14.628571-29.257143-29.257143s14.628571-29.257143 29.257143-29.257143h819.2c43.885714 0 87.771429 36.571429 87.771429 87.771429s-36.571429 87.771429-80.457143 87.771428z"
                        fill="#ffffff" />
                      <path
                        d="M497.371429 263.314286m-80.457143 0a80.457143 80.457143 0 1 0 160.914285 0 80.457143 80.457143 0 1 0-160.914285 0Z"
                        fill="#ffffffFDFBFB" />
                      <path
                        d="M497.371429 365.714286C438.857143 365.714286 394.971429 321.828571 394.971429 263.314286S438.857143 160.914286 497.371429 160.914286s102.4 43.885714 102.4 102.4S555.885714 365.714286 497.371429 365.714286z m0-153.6c-29.257143 0-51.2 21.942857-51.2 51.2s21.942857 51.2 51.2 51.2 51.2-21.942857 51.2-51.2-21.942857-51.2-51.2-51.2z"
                        fill="#ffffff" />
                    </g>
                  </svg>
                  &nbsp; Track Order
                </button>
              </span>
              <i class="bi" [ngClass]="{
                  'bi-chevron-down': !isAccordionOpen,
                  'bi-chevron-up': isAccordionOpen
                }"></i>
            </button>
            <div class="accordion-collapse" [ngClass]="{ show: isAccordionOpen }"
              [style.display]="isAccordionOpen ? 'block' : 'none'">
              <div class="accordion-body p-3 custom-padding">
                <div *ngIf="Shopordersstatus.length > 0; else noDataTemplate" class="scrollable-content">
                  <div class="status-container position-relative">
                    <div *ngFor="let order of Shopordersstatus; let i = index"
                      class="timeline-item d-flex position-relative mb-3">
                      <div class="timeline-icon-container position-relative me-2">
                        <i class="bi bi-check-circle fs-5 text-blue-relative"></i>
                        <div class="timeline-line" *ngIf="i < Shopordersstatus.length - 1"></div>
                      </div>
                      <div class="d-flex flex-column mt-neg-4 ">
                        <span class="text-black-14" >{{ order.ORDER_STATUS }}.</span>
                        <span class="text-black-11">{{
                          order.DATE_TIME | date : "yyyy-MM-dd hh:mm a"
                          }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #noDataTemplate>
                  <div class="text-center p-3">
                    <img src="assets/img/hand-drawn-no-data-concept.png" alt="No Data Available" class="img-fluid max-w-150"
                       />
                    <p class="text-muted mt-2">
                      <b>{{ "shop.NoDataAvailable" | translate }}</b>
                    </p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="OrderCardDataForRating === 'OS' && !feedbacksubmitted" class="accordion-item shadow-sm rounded card-no-shadow"
           >
            <div class="accordion-body p-0">
              <div class="p-2 rounded shadow-sm border bg-white card-shadow" >
                <div class="d-flex justify-content-between align-items-center mb-1 mb-0-important" >
                  <h6 class="fw-semibold text-dark mb-0 text-13" >
                    <i class="bi bi-star text-warning"></i>&nbsp; Rate Your
                    Experience
                  </h6>
                  <button class="btn btn-warning fw-semibold px-2 py-1 small-btn shadow-sm alert-custom"(click)="openFeedbackModal()">
                    <i class="bi bi-star-fill me-1"></i> Add Rating
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="feedbacksubmitted" class="accordion-item shadow-sm card-custom-style" >
            <div class="accordion-body p-3 rounded bg-white card-padding-style">
              <h6 class="fw-semibold text-dark mb-2 text-13" >
                <i class="bi bi-star-fill text-warning me-1"></i> Your Rating
              </h6>
              <div class="d-flex align-items-center mb-2">
                <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                  <i class="bi me-1 mr-5" [ngClass]="
                      RATING >= star
                        ? 'bi-star-fill text-warning'
                        : 'bi-star text-warning'
                    "></i>
                </ng-container>
                <span class="ms-2 text-muted small text-11">({{ RATING }} / 5)</span>
              </div>
              <p class="bg-light p-2 rounded small text-dark text-12-no-mb">
                {{ COMMENTS || "No comments" }}
              </p>
            </div>
          </div>
        </div>
        <button class="btn btn-primary w-100 m-2 custom-button" (click)="openDialer('9582700865')">
          {{ "shop.Contact Us" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="cancelDrawer" aria-labelledby="cancelDrawerLabel"
    data-bs-backdrop="static">
    <div class="offcanvas-header border-bottom">
      <h5 class="fw-bold mb-0 text-14" id="cancelDrawerLabel" >
        {{ "order_details.cancel_order" | translate }}
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column bg-light-blue">
      <div *ngIf="reasonsisLoading" class="d-flex justify-content-center align-items-center height-200">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">{{
            "order_details.loading" | translate
            }}</span>
        </div>
      </div>
      <div *ngIf="!reasonsisLoading" class="flex-grow-1">
        <label class="form-label fw-semibold mb-3 text-14">{{
          "order_details.select_cancellation_reason" | translate
          }}</label>
        <div class="border rounded-3 p-3 bg-white shadow-sm">
          <div class="responsive-scroll">
            <div *ngFor="let reason of cancelReasons; let i = index" class="form-check mb-2 text-13">
              <input class="form-check-input" type="checkbox" [id]="'reason' + i" [value]="reason"
                [(ngModel)]="reason.selected" />
              <label class="form-check-label" [for]="'reason' + i">
                {{ reason.label }}
              </label>
            </div>
          </div>
          <div class="form-group mt-2 text-13-important">
            <textarea class="form-control rounded-3 full-width-text-13" rows="3"
              [placeholder]="'order_details.describe_problem' | translate" [(ngModel)]="comment"></textarea>
          </div>
        </div>
      </div>
      <div class="drawer-footer mt-auto d-flex justify-content-between border-top pt-3">
        <button class="btn btn-primary w-100 rounded-3 d-flex align-items-center justify-content-center"
          [disabled]="loading" (click)="openConfirmModal()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
          {{ "order_details.cancel_order" | translate }}
        </button>
      </div>
      <div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelLabel"
        aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmCancelLabel">
                {{ "order_details.confirm_cancellation" | translate }}
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{ "order_details.confirm_cancel_message" | translate }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                {{ "order_details.no" | translate }}
              </button>
              <button type="button" class="btn btn-danger" (click)="confirmCancel()">
                {{ "order_details.yes_cancel" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isFAQDrawerVisible" id="offcanvasFAQ" class="offcanvas offcanvas-end widthclass" tabindex="-1"
    aria-labelledby="offcanvasFAQLabel">
    <button id="closefaq" #closefaq type="button" data-bs-dismiss="offcanvas" class="btn-close d-none"
      (click)="FAQdrawerClose()" aria-label="Close"></button>
    <div class="offcanvas-body padding-0">
      <app-order-show-tickets [drawerClose]="FAQcloseCallback" [isFAQDrawerVisible]="isFAQDrawerVisible"
        [shoporderid]="shoporderid" [warrentydata]="warrentydata" [shopalldata]="shopalldata" [type]="type">
      </app-order-show-tickets>
    </div>
  </div>
</div>
<div #feedbackModal class="modal fade" id="feedbackModal" tabindex="-1" data-bs-backdrop="static"
  data-bs-keyboard="false" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content rounded-3 shadow-sm border-0 p-2">
      <div class="modal-header border-0 pb-1">
        <h6 class="modal-title fw-semibold d-flex align-items-center">
          <i class="bi bi-record-circle-fill me-1 text-blue-dark" ></i>
          Rate Us
        </h6>
        <button type="button" class="btn-close" (click)="closeFeedbackModal()"></button>
      </div>
      <div class="modal-body p-2">
        <form (ngSubmit)="SubmitRating()">
          <p class="fw-medium text-dark mb-1 text-13" >
            How would you rate your experience?
          </p>
          <div class="d-flex gap-1 justify-content-left mb-2">
            <i class="bi text-14-pointer" [ngClass]="
                RATING >= star
                  ? 'bi-star-fill text-warning'
                  : 'bi-star text-muted'
              " *ngFor="let star of [1, 2, 3, 4, 5]" (click)="RATING = star"
              ></i>
          </div>
          <textarea class="form-control bg-light rounded-2 border-0 p-2 text-12-fullwidth" [(ngModel)]="COMMENTS" name="COMMENTS"
            placeholder="Tell us how we can improve" rows="2" maxlength="256"
           ></textarea>
          <div class="modal-footer border-0 pt-3 padding-10-0">
            <button type="submit" class="btn w-100 py-2 rounded-2 fw-medium btn-custom"  [disabled]="RATING === 0 || isSubmitted">
              Submit
              <span *ngIf="isSubmitted" class="spinner-border spinner-border-sm ms-2" role="status"
                aria-hidden="true"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>