.placeholder-image {
    width: 100%;
    height: 150px;
    background-color: #e0e0e0;
    border-radius: 8px;
}

.timeline {
    list-style: none;
    padding: 0;
}

.timeline li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

::ng-deep .modal-backdrop {
  --bs-backdrop-zindex: 1040 !important;
}
.star-icon {
    margin-right: 6px; /* Adjust spacing as needed */
    font-size: 20px; /* Adjust size if necessary */
    cursor: pointer;
  }
  
  .timeline {
    border-left: none;
    padding-left: 0px;
  }

  .timeline-item {
    position: relative;
  }


  // .order-details-container {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }


  .order-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box-shadow {
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  

  .widthclass{

    width: 60vw;
  }
  
  @media screen and (max-width: 767px) {
    .widthclass {
      width: 100vw;
    }
  }
  
  .newclass.btn-light::after {
    display: none !important; /* Hides the dropdown arrow */
    content: none !important; /* Ensures no space remains */
  }


  .btn:hover{
    background-color: transparent;
  }


  .timeline-icon-container {
  width: 20px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.timeline-line {
  position: absolute;
    top: 26px;
    left: 40%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #4c5ba1;
    z-index: 0;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Light overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1055;
  /* Above backdrop */
}

.spinner-size {
  width: 4rem;
  height: 4rem;
}


.mobile-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-top: 0.5rem; /* Same as mt-2 */
}

@media (min-width: 768px) {
  .mobile-padding {
    // padding-right: 1rem !important; /* Same as pe-3 */
    padding-left: 1rem !important;  /* Same as px-3 */
    margin-top: 0 !important;       /* Same as mt-md-0 */
  }
}
