<div class="auth-card-container" *ngIf="modalVisible">
  <div class="auth-wrapper">
    <div class="auth-card auth-card-padding-margin">
      <div class="logo-container logo-container-no-margin">
        <img src="assets/img/PockITLogoF.png" alt="Logo" class="auth-logo" />
      </div>
      <div class="auth-logos">
        <img src="assets/img/welcome-logo.jpg" alt="Logo" class="auth-logo" />
      </div>
      <div class="logo-header">
        <h2 class="welcome-text">Welcome to PockIT!</h2>
        <h3 class="login-text">Login</h3>
      </div>
      <form id="loginForm" class="auth-form" #loginSubmit="ngForm" (ngSubmit)="loginotpverification(loginSubmit)">
        <div class="auth-status-message">
          {{ statusCode }}
        </div>
        <div class="form-group">
          <label *ngIf="mobileNumberorEmail" class="auth-label-left">
            {{
            inputType === 'initial'
            ? 'Email or Mobile Number'
            : inputType === 'mobile'
            ? 'Mobile Number'
            : 'Email'
            }}
          </label>
          <div class="input-field">
            <div class="unique-country-selector-wrapper">
              <div *ngIf="inputType === 'mobile' " class="unique-country-code-selector unique-country-border-padding"
                (click)="userModal ? null : toggleCountryDropdown(); $event.stopPropagation()">
                <span>{{ selectedCountryCode }}</span>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none">
                  <path d="M1 1L5 5L9 1" stroke="#666" stroke-width="1.5" />
                </svg>
                <div class="unique-country-dropdown-container" *ngIf="showCountryDropdown && inputType === 'mobile'">
                  <div class="unique-country-dropdown">
                    <div class="unique-search-box unique-search-border-bottom">
                      <input type="text" placeholder="Search country..." name="countrySearch" [(ngModel)]="searchQuery"
                       class="unique-search-input" (input)="filterCountries($event)"
                        (click)="$event.stopPropagation()" autocomplete="off" />
                    </div>
                    <div class="unique-country-list">
                      <div class="unique-country-item" *ngFor="let country of filteredCountryCodes"
                        (click)="selectCountry(country); $event.stopPropagation()">
                        {{ country.label }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <input [type]="inputType === 'email' ? 'email' : 'text'" class="form-control auth-input-field"
                placeholder="{{ getPlaceholder() }}" [(ngModel)]="mobileNumberorEmail" name="identifier"
                #identifier="ngModel" (input)="onIdentifierInput($event)" [pattern]="
                  inputType === 'mobile'
                    ? commonFunction.mobpattern
                    : inputType === 'email'
                    ? emailPattern
                    : ''
                " [maxlength]="inputType === 'mobile' ? 10 : 128" [minlength]="inputType === 'mobile' ? 10 : null"
                (keypress)="
                  inputType === 'mobile'
                    ? commonFunction.onlynum($event)
                    : null
                " autocomplete="off" required
                [disabled]="userModal" />
            </div>
            <div *ngIf="identifier.errors?.['required'] && (identifier.touched || loginSubmitted)"
              class="error-message">
              Please enter {{
              inputType === 'email'
              ? 'your email address'
              : inputType === 'mobile'
              ? 'your mobile number'
              : 'email or mobile number'
              }}.
            </div>
            <div *ngIf="identifier.errors?.['pattern'] && (identifier.touched || loginSubmitted)" class="error-message">
              Please enter a valid {{
              userType === 'business' || inputType === 'email'
              ? 'email address'
              : 'mobile number'
              }}.
            </div>
          </div>
        </div>
        <p class="auth-otp-info" *ngIf="mobileNumberorEmail && inputType !== 'initial'">
          <a class="auth-otp-text">
            {{
            inputType === 'email'
            ? "You will receive an OTP on above email address for verification"
            : "You will receive an OTP on above WhatsApp number for verification"
            }}.
          </a>
        </p>
        <button type="submit" class="btn btn-primary btn-block auth-login-button"
          [disabled]="isloginSendOTP || userModal">
          <span *ngIf="isloadingconflict" class="spinner-border spinner-border-sm me-2" role="status"
            aria-hidden="true">
          </span>
          {{ isloginSendOTP ? "Sending OTP..." : "Login" }}
        </button>
        <div class="auth-links">
          <p>
            Don't have an account?
            <a (click)="showRegisterModal()" class="auth-register-link">Register now</a>
          </p>
          <p class="auth-guest-link-wrapper">
            <a (click)="onshowMap()" class="auth-guest-link">Continue as guest</a>
          </p>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-overlay-custom" *ngIf="userModal" (click)="userModal = false">
    <div class="modal-container-custom" (click)="$event.stopPropagation()">
      <div class="modal-title">Please select your account type</div>
      <div class="account-card" *ngFor="let d of conflictdata" [class.active]="d.isSelected"
        [class.active]="userType === (d.CUSTOMER_TYPE === 'B' ? 'business' : 'home')"
        (click)="selectedconflicttype(d.CUSTOMER_TYPE)">
        <div class="icon">
          <span *ngIf="d.CUSTOMER_TYPE === 'B'" value="business" [(ngModel)]="userType">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#3170de"
              version="1.1" id="Layer_1" viewBox="0 0 472.615 472.615" xml:space="preserve" width="30px"
              height="30px">
              <g id="SVGRepo_bgCarrier" stroke-width="0" />
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
              <g id="SVGRepo_iconCarrier">
                <g>
                  <g>
                    <path
                      d="M328.776,104.453V39.385H143.839v65.068h-41.097v164.386h106.595l-3.853-30.821h61.645l-3.853,30.821h106.595V104.453 H328.776z M308.227,104.453H164.388V59.934h143.839V104.453z" />
                  </g>
                </g>
                <g>
                  <g>
                    <polygon
                      points="260.709,289.388 256.857,320.213 215.759,320.213 211.906,289.388 102.743,289.388 102.743,433.229 369.873,433.229 369.873,289.388 " />
                  </g>
                </g>
                <g>
                  <g>
                    <rect x="410.969" y="104.457" width="61.647" height="328.773" />
                  </g>
                </g>
                <g>
                  <g>
                    <rect y="104.457" width="61.647" height="328.773" />
                  </g>
                </g>
              </g>
            </svg>
          </span>
          <span *ngIf="d.CUSTOMER_TYPE === 'I'" value="home" [(ngModel)]="userType">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none">
              <g id="SVGRepo_bgCarrier" stroke-width="0" />
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
              <g id="SVGRepo_iconCarrier">
                <path d="M22 22L2 22" stroke="#3170de" stroke-width="1.5" stroke-linecap="round" />
                <path
                  d="M2 11L6.06296 7.74968M22 11L13.8741 4.49931C12.7784 3.62279 11.2216 3.62279 10.1259 4.49931L9.34398 5.12486"
                  stroke="#3170de" stroke-width="1.5" stroke-linecap="round" />
                <path d="M15.5 5.5V3.5C15.5 3.22386 15.7239 3 16 3H18.5C18.7761 3 19 3.22386 19 3.5V8.5"
                  stroke="#3170de" stroke-width="1.5" stroke-linecap="round" />
                <path d="M4 22V9.5" stroke="#3170de" stroke-width="1.5" stroke-linecap="round" />
                <path d="M20 9.5V13.5M20 22V17.5" stroke="#3170de" stroke-width="1.5" stroke-linecap="round" />
                <path
                  d="M15 22V17C15 15.5858 15 14.8787 14.5607 14.4393C14.1213 14 13.4142 14 12 14C10.5858 14 9.87868 14 9.43934 14.4393M9 22V17"
                  stroke="#3170de" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14 9.5C14 10.6046 13.1046 11.5 12 11.5C10.8954 11.5 10 10.6046 10 9.5C10 8.39543 10.8954 7.5 12 7.5C13.1046 7.5 14 8.39543 14 9.5Z"
                  stroke="#3170de" stroke-width="1.5" />
              </g>
            </svg></span>
        </div>
        <div class="text">
          <div class="heading">
            {{ d.CUSTOMER_TYPE === 'B' ? 'Business User' : 'Home User' }}
          </div>
          <div class="sub">{{ d.NAME }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="auth-card-container" *ngIf="openRegister">
  <div class="auth-wrapper">
    <div class="auth-card auth-register-card-spacing" >
      <div class="logo-container logo-container-no-margin">
        <img src="assets/img/PockITLogoF.png" alt="Logo" class="auth-logo" />
      </div>
      <div class="auth-logos">
        <img src="assets/img/welcome-logo.jpg" alt="Logo" class="auth-logo" />
      </div>
      <div class="auth-register-header">
        <h2 class="welcome-text">Welcome to PockIT!</h2>
        <h3 class="login-text logo-container-no-margin">Register</h3>
      </div>
      <div class="auth-register-status" >
        {{ statusCode }}
      </div>
      <form class="register-form" #registrationForm="ngForm" (ngSubmit)="save(registrationForm)">
        <!-- <div class="user-type">
          <label class="radio-label">
            <input type="radio" name="userType" value="home" [(ngModel)]="userType" (change)="onUserTypeChange()" />
            <span class="custom-radio"></span> Home User
          </label>
          <label class="radio-label">
            <input type="radio" name="userType" value="business" [(ngModel)]="userType" (change)="onUserTypeChange()" />
            <span class="custom-radio"></span> Business User
          </label>
        </div> -->
        <div *ngIf="userType === 'business'" class="business-fields">
          <div class="form-field">
            <label *ngIf="data.CUSTOMER_NAME" class="auth-label-left">
              Customer Name*
            </label>
            <input type="text" placeholder="Enter Customer Name" required (keypress)="alphaOnly($event)"
              name="customerName" [(ngModel)]="data.CUSTOMER_NAME" #customerName="ngModel" minlength="2" maxlength="128"
              autocomplete="off" class="auth-input-common"/>
            <div *ngIf="customerName.errors?.['required'] && (customerName.touched || registrationSubmitted)"
              class="error-message">
              Please enter customer name.
            </div>
          </div>
          <div class="form-field">
            <label *ngIf="data.PASSWORD" class="auth-label-left">
              Password*
            </label>
            <nz-input-group nzSuffixIcon="lock">
              <input nz-input type="password" placeholder="Enter Password" required name="password"
                [(ngModel)]="data.PASSWORD" #password="ngModel" minlength="8"
                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" autocomplete="off"
               class="auth-input-common"/>
            </nz-input-group>
            <div *ngIf="password.invalid && (password.touched || registrationSubmitted)" class="error-message">
              <div *ngIf="password.errors?.['required']">
                Please enter password.
              </div>
              <div *ngIf="password.errors?.['pattern']">
                Password must contain at least 8 characters, including uppercase, lowercase,
                number, and special character (@, $, !, %, *, ?, &).
              </div>
            </div>
          </div>
          <div class="form-field">
            <label *ngIf="confirmPassword" class="auth-label-left">
              Confirm Password*
            </label>
            <nz-input-group nzSuffixIcon="lock">
              <input nz-input type="password" placeholder="Confirm Password" required name="confirmPassword"
                [(ngModel)]="confirmPassword" #cPassword="ngModel" autocomplete="off"
               class="auth-input-common"/>
            </nz-input-group>
            <div *ngIf="cPassword.errors?.['required'] && (cPassword.touched || registrationSubmitted)"
              class="error-message">
              Please confirm password.
            </div>
            <div *ngIf="confirmPassword !== data.PASSWORD && (cPassword.touched || registrationSubmitted)"
              class="error-message">
              Password and confirm password do not match.
            </div>
          </div>
        </div>
        <div class="form-field" *ngIf="userType !== 'business'">
          <label *ngIf="data.CUSTOMER_NAME" class="auth-label-left">Name*</label>
          <input type="text" placeholder="Enter full name*" required (keypress)="alphaOnly($event)" name="name"
            [(ngModel)]="data.CUSTOMER_NAME" #name="ngModel" minlength="2" maxlength="128" autocomplete="off" 
           class="auth-input-common"/>
          <div *ngIf="name.errors?.['required'] && (name.touched || registrationSubmitted)" class="error-message">
            Please enter your name.
          </div>
        </div>
        <div class="form-field">
          <label *ngIf="data.EMAIL_ID" class="auth-label-left">Email*</label>
          <input type="email" [placeholder]="userType === 'business' ? 'Enter Business Email*' : 'Enter Email*'"
            required name="emailid" [(ngModel)]="data.EMAIL_ID" #email="ngModel" autocomplete="off" maxlength="128"
            [pattern]="emailPattern" class="auth-input-common" />
          <div *ngIf="email.errors?.['required'] && (email.touched || registrationSubmitted)" class="error-message">
            Please enter your email address.
          </div>
          <div *ngIf="email.errors?.['pattern'] && (email.touched || registrationSubmitted)" class="error-message">
            Please enter a valid email address.
          </div>
          <div *ngIf="isPublicBusinessEmail(data.EMAIL_ID) && (email.touched || registrationSubmitted)"
            class="error-message">
            Public email domains are not allowed for business accounts.
          </div>
        </div>
        <div class="form-field auth-mobile-field">
          <label *ngIf="data.CUSTOMER_MOBILE_NO" class="auth-label-left">
            Mobile Number*
          </label>
          <div class="phone-input-group">
            <div class="country-code-selector auth-input-common" (click)="toggleCountryDropdown(); $event.stopPropagation()">
              <span>{{ selectedCountryCode }}</span>
              <svg width="10" height="6" viewBox="0 0 10 6" fill="none">
                <path d="M1 1L5 5L9 1" stroke="#666" stroke-width="1.5" />
              </svg>
            </div>
            <div class="country-dropdown-container" *ngIf="showCountryDropdown">
              <div class="country-dropdown">
                <div class="search-box">
                  <input type="text" class="auth-input-common_imp"
                  placeholder="Search country..." [(ngModel)]="searchQuery" name="countrySearch"
                    (input)="filterCountries($event)" (click)="$event.stopPropagation()" autocomplete="off" />
                </div>
                <div class="dropdown-container">
                  <div class="unique-country-list unique_input_country">
                    <div class="unique-country-item unique_country_style" *ngFor="let country of filteredCountryCodes"
                      (click)="selectCountry(country); $event.stopPropagation()">
                      {{ country.label }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input type="text" placeholder="Eg. 99999 99999*" required name="phonenumber"
              [(ngModel)]="data.CUSTOMER_MOBILE_NO" #phone="ngModel" (keypress)="commonFunction.onlynum($event)"
              maxlength="10" minlength="10" 
              class="auth-input-common" [pattern]="commonFunction.mobpattern" autocomplete="off" />
          </div>
          <div *ngIf="phone.errors?.['required'] && (phone.touched || registrationSubmitted)" class="error-message">
            Please enter your mobile number.
          </div>
          <div *ngIf="phone.errors?.['pattern'] && (phone.touched || registrationSubmitted)" class="error-message">
            Please enter a valid mobile number.
          </div>
        </div>
        <p class="auth-whatsapp-note">
          <a class="auth-whatsapp-text">
            Note: Please enter a WhatsApp-registered number.
          </a>
        </p>
        <div *ngIf="userType === 'business'" class="business-tax-fields">
          <div class="unique-gap">
          </div>
        </div>
        <div class="auth-terms-wrapper">
          <input type="checkbox" id="agree" name="agree" #agree="ngModel" [(ngModel)]="agreeConsent" required
         class="auth-terms-checkbox"/>
          <div>
            <label for="agree" class="auth-terms-label">
              I have read and agree to the
              <a (click)="openTerms()" class="auth-terms-link" >
                Terms and Conditions
              </a>
              and
              <a (click)="openPPolicy()" class="auth-terms-link">
                Privacy Policy
              </a>
              of PockIT Engineers
            </label>
            <div class="error-message auth-terms-error" *ngIf="!agreeConsent && registrationSubmitted"
             >
              You must agree to the Terms and Conditions before submitting.
            </div>
          </div>
        </div>
        <button type="submit" class="register-button">
          <span *ngIf="issignUpLoading" class="spinner-border spinner-border-sm me-2"></span>
          {{ issignUpLoading ? "Sending OTP..." : "Register" }}
        </button>
        <p class="login-link bottom-rec" >
          Already have an account? <a (click)="openLoginModal()">Login</a>
        </p>
      </form>
    </div>
  </div>
</div>
<div class="auth-card-container" *ngIf="openVerify && !isverifyOTP">
  <div class="auth-wrapper">
    <div class="auth-card auth-verify-card-spacing">
      <div class="logo-container logo-container-no-margin">
        <img src="assets/img/PockITLogoF.png" alt="Logo" class="auth-logo" />
      </div>
      <div class="auth-logos">
        <img src="assets/img/welcome-logo.jpg" alt="Logo" class="auth-logo" />
      </div>
      <div class="otp-content auth-verify-otp-content">
        <h2 class="auth-verify-title">Enter Verification Code</h2>
        <p class="verification-text auth-verify-subtext">
          We've sent a 4-digit verification code to<br />
          <span class="phone-number auth-verify-phone">
            <span *ngIf="inputType === 'mobile'">{{ selectedCountryCode }} &nbsp;</span>
            {{ mobileNumberorEmail }}
          </span>
          &nbsp;<span (click)="openLoginModal()"><i class="bi bi-pencil-square"></i></span>
        </p>
        <div class="auth-verify-status">
          {{ statusCode }}
        </div>
        <form (ngSubmit)="VerifyOTP()" class="otp-form">
          <div class="otp-input-group">
            <input *ngFor="let i of [0, 1, 2, 3]" class="otp-input" type="text" [(ngModel)]="otp[i]" [name]="'otp-' + i"
              maxlength="1" (keydown)="moveToNext($event, i)" (keypress)="allowOnlyNumbers($event)"
              (ngModelChange)="onChange($event, i)" (paste)="handlePaste($event)" required autocomplete="off" />
          </div>
          <div class="timer-section">
            <span *ngIf="remainingTime > 0">{{ remainingTime }}</span>
            <p class="resend-text auth-verify-resend-text">
              Didn't receive the code?
              <a (click)="remainingTime == 0 ? resendOtp() : ''" [ngStyle]="{
                  cursor: remainingTime > 0 ? 'wait' : 'pointer',
                  color:
                    remainingTime > 0
                      ? '#636363 !important'
                      : '#3170de !important'
                }" [class.disabled]="remainingTime > 0" [ngClass]="{ 'finished-time': remainingTime <= 0 }">
                <span> Resend </span>
              </a>
            </p>
          </div>
          <button type="submit" class="verify-button" [disabled]="isverifyOTP">
            <span *ngIf="isverifyOTP" class="spinner-border spinner-border-sm me-2"></span>
            Verify
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="user-location-container" *ngIf="showMap">
  <div class="user-location-wrapper">
    <div class="user-location-header">
      <p class="location-title">User Location</p>
      <p class="location-subtitle">Place the marker at your order location</p>
    </div>
    <div class="user-location-map" id="map"></div>
    <div class="user-location-details">
      <p class="location-address">
        {{ locationAddress || "Fetching address..." }}
      </p>
    </div>
    <div class="user-location-footer">
      <button [disabled]="!locationAddress" class="location-confirm-btn" (click)="confirmLocation()">
        Confirm Location
      </button>
      <div class="user-location-back-login"(click)="backtologin()">
        Back to login
      </div>
    </div>
  </div>
</div>
<ng-template #openMap let-modal class="map-container">
  <div class="map-header">
    <p class="mb-0">User Location</p>
    <p class="text-muted small mb-0">Place the marker at your order location</p>
  </div>
  <div id="map"></div>
  <div class="location-details">
    <p>{{ locationAddress || "Fetching address..." }}</p>
  </div>
  <div class="map-footer">
    <button class="btn btn-primary" (click)="confirmLocation()">Confirm</button>
  </div>
</ng-template>
<div *ngIf="showAddressDetailsForm" class="address-form-container">
  <div class="card shadow-sm address-form-card address-card-no-border">
    <div class="d-flex justify-content-center align-items-center card-header address-card-header-height address-card-header-no-border">
      <div class="icon-wrapper">
        <svg width="66" height="67" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="33" cy="33.5" r="32.7988" stroke="#FFDFBE" stroke-width="0.402439" />
          <circle cx="33.0004" cy="33.5" r="26.3598" stroke="#FFDFBE" stroke-width="0.402439" />
          <path
            d="M20.6299 39.7112C16.1906 33.6198 16.8468 25.2031 22.1766 19.8733C28.154 13.8959 37.8454 13.8959 43.8228 19.8733C49.1526 25.2031 49.8088 33.6198 45.3695 39.7112L36.0195 52.541C34.5271 54.5888 31.4723 54.5888 29.9799 52.541L20.6299 39.7112Z"
            fill="#2A3B8F" />
          <circle cx="33.0137" cy="31.5595" r="5.97857" fill="#FDEEE9" />
        </svg>
      </div>
    </div>
    <form #addressSubmit="ngForm" (ngSubmit)="saveAddress(addressSubmit)" class="p-3">
      <div class="address-form-bg">
        <h2 class="form-title mb-0 ms-3 address-form-title">
          Enter address details
        </h2>
        <div class="mb-3 address-type-card">
          <label class="form-label text-muted small address-save-label">Save address as *</label>
          <div class="btn-group custom-btn-group">
            <button type="button" class="btn" [ngClass]="{
                'btn-outline-primary': addressForm.TYPE !== 'H',
                'btn-primary': addressForm.TYPE === 'H'
              }" (click)="addressForm.TYPE = 'H'">
              Home
            </button>
            <button type="button" class="btn" [ngClass]="{
                'btn-outline-primary': addressForm.TYPE !== 'F',
                'btn-primary': addressForm.TYPE === 'F'
              }" (click)="addressForm.TYPE = 'F'">
              Work
            </button>
            <button  class="btn address-type-other-btn" type="button" [ngClass]="{
                'btn-outline-primary': addressForm.TYPE !== 'O',
                'btn-primary': addressForm.TYPE === 'O'
              }" (click)="addressForm.TYPE = 'O'">
              Other
            </button>
          </div>
        </div>
        <div class="mb-3 contact-details" *ngIf="!asGuest">
          <label class="form-label address-contact-label">Contact Person Details</label>
          <div class="address-contact-label" >
            {{ data.CUSTOMER_NAME }} <b>{{ data.CUSTOMER_MOBILE_NO }}</b>
          </div>
        </div>
        <div class="address-form-white-card">
          <div class="form-group position-relative address-location-wrapper">
            <button type="button"
              class="btn btn-link position-absolute end-0 top-50 translate-middle-y address-contact-label" (click)="onshowMap()">
              Change Location
            </button>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="House number/flat no/floor no"
                [(ngModel)]="addressForm.ADDRESS_LINE_1" name="addressLine1" required #addressLine1="ngModel"
                autocomplete="off" maxlength="256" />
              <div *ngIf="(addressLine1.errors?.['required'] && (addressLine1.touched || addressSubmitted))"
                class="error-message">
                Please enter house number/flat no/floor no.
              </div>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Area/street/village"
                [(ngModel)]="addressForm.ADDRESS_LINE_2" name="addressLine2" autocomplete="off" required
                #addressLine2="ngModel" maxlength="256" />
              <div *ngIf="(addressLine2.errors?.['required'] && (addressLine2.touched || addressSubmitted))"
                class="error-message">
                Please enter Area/street/village.
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Landmark (optional)"
                [(ngModel)]="addressForm.LANDMARK" name="landmark" autocomplete="off" maxlength="128" />
            </div>
            <div class="col-md-6">
              <div class="position-relative">
                <div class="dropdown-wrapper">
                  <input type="text" class="form-control" [(ngModel)]="selectedPincode" placeholder="Select pincode"
                    name="pincode" #pincode="ngModel" required maxlength="64" readonly autocomplete="off" />
                  <div *ngIf="isLoading" class="loading-container1 spinner-inside">
                    <div class="text-center" class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
                <div class="size-12px" *ngIf="
                    pincode.invalid && (pincode.touched || addressSubmitted)
                  " class="text-danger mt-1">
                  <div *ngIf="pincode.errors?.['required']">
                    Please select pincode.
                  </div>
                  <div *ngIf="pincode.errors?.['maxlength']">
                    Max length exceeded.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <input type="text" class="form-control" [(ngModel)]="addressForm.CITY_NAME" [placeholder]="'Enter City'"
                name="CITY_NAME" autocomplete="off" maxlength="128" required #CITY_NAME="ngModel" />
              <div *ngIf="(CITY_NAME.errors?.['required'] && (CITY_NAME.touched || addressSubmitted))"
                class="error-message">
                Please enter City.
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative">
                <div class="dropdown-wrapper" (click)="toggleStatesDropdown(); $event.stopPropagation()">
                  <input type="text" class="form-control" [value]="selectedState || 'Select State...'" readonly
                    autocomplete="off" />
                  <span class="dropdown-icon"></span>
                </div>
                <div *ngIf="showStateDropdown" class="dropdown-menu show">
                  <input type="text" class="form-control" placeholder="Search State..." [(ngModel)]="searchState"
                    name="stateSearch" (input)="filterStates($event)" (click)="$event.stopPropagation()"
                    autocomplete="off" />
                  <div class="dropdown-item" *ngFor="let state of filteredStates" (click)="selectState(state)">
                    {{ state.NAME }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button [disabled]="isAddrssSaving" type="submit" class="btn btn-primary w-100">
            <span *ngIf="isAddrssSaving" class="spinner-border spinner-border-sm me-2"></span>
            Confirm
          </button>
        </div>
      </div>
    </form>
  </div>
</div>