<app-common-loader *ngIf="isLoading" class="overlay-loader"></app-common-loader>
<app-flastscreen *ngIf="flashscreen" class="overlay-loader"></app-flastscreen>
<div *ngIf="!flashscreen">
  <div *ngIf="
      !needLogeIn &&
      routePath !== 'privacy_policy_page' && routePath !== 'terms-conditions'
    ">
    <app-header></app-header>
    <main class="main min-height-60vh">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>
  <div *ngIf="
      routePath == 'privacy_policy_page' || routePath == 'terms-conditions';
      else elsePrivacyPo
    ">
    <span *ngIf="routePath == 'privacy_policy_page'">
      <app-privacypolicy-without-login></app-privacypolicy-without-login>
    </span>
    <span *ngIf="routePath == 'terms-conditions'">
      <app-terms-and-condition-without-login></app-terms-and-condition-without-login>
    </span>
  </div>
  <ng-template #elsePrivacyPo>
    <div *ngIf="needLogeIn">
      <app-login></app-login>
    </div>
  </ng-template>
</div>
<div class="modal fade" id="imageModal" tabindex="-1" (wheel)="onScroll($event)" (keydown)="onKeydown($event)">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content bg-transparent border-0 shadow-none">
      <div class="position-absolute top-0 end-0 m-3 d-flex gap-2">
        <button class="btn btn-light" (click)="zoomOut()">-</button>
        <button class="btn btn-light" (click)="zoomIn()">+</button>
        <button class="btn btn-light" (click)="rotateImage()">↻</button>
        <button class="btn btn-light" data-bs-dismiss="modal">✖</button>
      </div>
      <div class="modal-body text-center d-flex justify-content-center align-items-center">
        <div class="position-relative">
          <img #imageElement [src]="apiservice.getImageSrc()" class="img-fluid zoomable-image" [ngStyle]="{
              transform:
                'scale(' + zoomLevel + ') rotate(' + rotationAngle + 'deg)'
            }" />
        </div>
      </div>
    </div>
  </div>
</div>
<button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightttttttttttttttttttttt" (click)="chatwithcustomer()"
  aria-controls="offcanvasRightttttttttttttttttttttt" #btnclickkkkformsg class="d-none" ></button>
<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="offcanvasRightttttttttttttttttttttt"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Chat with {{ chatwith }}</h5>
    <button type="button" (click)="closechat()" class="btn-close text-reset" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body overflow-hidden">
    <div class="d-flex justify-content-center" *ngIf="msgspin">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="chat-container" *ngIf="!msgspin">
      <span class="d-none" >{{ getmsgssssss() }}</span>
      <div class="message-box height-80vh-auto" id="scrollableDivvvvv" #scrollableDivvvvv>
        <div *ngIf="groupeddata != undefined && groupeddata != null">
          <div *ngFor="let msgdate of getKeys(groupeddata)">
            <div class="text-center-small-bold">
              {{ msgdate | date : "dd/MM/yyyy" }}
            </div>
            <div *ngFor="let messageeee of groupeddata[msgdate]">
              <div class="message customer-message" *ngIf="messageeee['BY_CUSTOMER'] == false">
                <span class="customer-name">{{
                  messageeee["TECHNICIAN_NAME"]
                  }}</span>
                <div>
                  <div class="message-text overflow-wrap-anywhere" >
                    {{ messageeee["MESSAGE"] }}
                    <div *ngIf="
                        messageeee['ATTACHMENT_URL'] != null &&
                        messageeee['ATTACHMENT_URL'] != '' &&
                        messageeee['ATTACHMENT_URL'] != undefined
                      ">
                      <img *ngIf="
                          messageeee['ATTACHMENT_URL'].split('.').pop() ==
                            'png' ||
                          messageeee['ATTACHMENT_URL'].split('.').pop() ==
                            'jpeg' ||
                          messageeee['ATTACHMENT_URL'].split('.').pop() ==
                            'jpg' ||
                          messageeee['ATTACHMENT_URL'].split('.').pop() ==
                            'avif' ||
                          messageeee['ATTACHMENT_URL'].split('.').pop() ==
                            'jifi'
                        " width="100%" height="100px" [src]="
                          urllll + 'OrderChat/' + messageeee['ATTACHMENT_URL']
                        " alt="" />
                      <video width="100%" height="100px" controls *ngIf="
                          messageeee['ATTACHMENT_URL'].split('.').pop() ==
                            'mp4' ||
                          messageeee['ATTACHMENT_URL'].split('.').pop() ==
                            'mov' ||
                          messageeee['ATTACHMENT_URL'].split('.').pop() ==
                            'avi' ||
                          messageeee['ATTACHMENT_URL'].split('.').pop() ==
                            'wmv' ||
                          messageeee['ATTACHMENT_URL'].split('.').pop() == 'mkv'
                        ">
                        <source [src]="
                            urllll + 'OrderChat/' + messageeee['ATTACHMENT_URL']
                          " type="video/mp4" />
                      </video>
                    </div>
                  </div>
                  <div class="timestamp text-right-full">
                    {{ messageeee["SEND_DATE"] | date : "dd/MM | hh:mm a" }}
                  </div>
                </div>
              </div>
              <div class="message technician-message" *ngIf="messageeee['BY_CUSTOMER'] == true">
                <span class="technician-name">{{
                  messageeee["SENDER_USER_ID_USER"]
                  }}</span>
                <div class="message-text overflow-wrap-anywhere" >
                  <div [innerHTML]="transform(messageeee['MESSAGE'])"></div>
                  <div *ngIf="
                      messageeee['ATTACHMENT_URL'] != null &&
                      messageeee['ATTACHMENT_URL'] != '' &&
                      messageeee['ATTACHMENT_URL'] != undefined
                    ">
                    <img *ngIf="
                        messageeee['ATTACHMENT_URL'].split('.').pop() ==
                          'png' ||
                        messageeee['ATTACHMENT_URL'].split('.').pop() ==
                          'jpeg' ||
                        messageeee['ATTACHMENT_URL'].split('.').pop() == 'jpg'
                      " class="onhover" [src]="
                        urllll + 'OrderChat/' + messageeee['ATTACHMENT_URL']
                      " alt="" />
                    <video width="100%" height="100px" controls *ngIf="
                        messageeee['ATTACHMENT_URL'].split('.').pop() == 'mp4'
                      ">
                      <source [src]="
                          urllll + 'OrderChat/' + messageeee['ATTACHMENT_URL']
                        " type="video/mp4" />
                      <source src="movie.ogg" type="video/ogg" />
                    </video>
                  </div>
                </div>
                <span class="timestamp">
                  {{ messageeee["SEND_DATE"] | date : "dd/MM | hh:mm a" }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showimagebox">
        <img *ngIf="
            ICON.split('.').pop() == 'png' ||
            ICON.split('.').pop() == 'jpeg' ||
            ICON.split('.').pop() == 'jpg'
          " width="200px" height="200px" [src]="urllll + 'OrderChat/' + ICON" alt="" />
        <video width="100%" height="200px" controls *ngIf="ICON.split('.').pop() == 'mp4'">
          <source [src]="urllll + 'OrderChat/' + ICON" type="video/mp4" />
        </video>
      </div>
      <div class="input-area">
        <button class="paper-clip" *ngIf="!progressBarImageOne">
          <span (click)="fileInput.click()" class="font-size-20"><i class="bi bi-upload"></i></span>
        </button>
        <input accept="image/*,video/*" #fileInput name="albumimage" type="file" (change)="onFileSelected($event)"
         class="d-none"   required />
        <textarea placeholder="Type your message..." rows="1" #textArea id="messages2" [(ngModel)]="BODY_TEXT"
          name="BODY_TEXT" (keydown)="handleEnter($event)"></textarea>
        <div class="text-align-end">
          <button type="button" class="whatsapp-send-icon w-100" (click)="sendmessage()">
            <i class="bi bi-send"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>