<div *ngIf="!loadepage">
  <div class="offcanvas-body">
    <p class="text-center mt-3 font-13" >
      Please select a date and time for the technician's visit
    </p>
    <div
      class="border date-time-container shadow-0-5-90-font-13"
    >
      <div class="date-picker-container">
        <label class="form-label font-13" >Select a date</label>
        <p class="selected-date font-12" >
          {{ selectedDate }}
        </p>
        <div class="date-scroll">
          <button
            *ngFor="let date of dates"
            class="date-button font-12"
            [ngClass]="{
              selected: selectedDate.trim() === date.fullDate.trim()
            }"
            (click)="selectDate(date.fullDate)"
          >
            <span class="day">{{ date.display.split(" ")[0] }}</span>
            <span class="date">{{ date.display.split(" ")[1] }}</span>
          </button>
        </div>
      </div>
      <div class="time-slot-container">
        <label class="form-label fw-bold font-13" >
          Select a time slot
        </label>
        <div class="time-slot-wrapper">
          <div *ngFor="let period of timeSlots" class="time-slot">
            <p class="slot-title text-left-font-13">
              {{ period.period }}
            </p>
            <button
              class="slot-button"
              [ngClass]="{
                'selected-slot':
                  selectedSlot ===
                  formatTime(period.times.start) +
                    ' - ' +
                    formatTime(period.times.end)
              }"
              (click)="selectSlot(period.times)"
              [disabled]="period.times.disabled"
            >
              <span class="time-range">
                {{ formatTime(period.times.start) }}<br />-<br />{{
                  formatTime(period.times.end)
                }}
              </span>
            </button>
          </div>
        </div>
      </div>
      <p *ngIf="isAllSlotsDisabled()" 
      class="no-slots-message text-red-14-mt-11" 
      >
      No time slots are available for the selected date. 
              </p>
    </div>
    <div
      class="border p-3 mt-3 rounded-8-shadow-font-13"
    >
      <label class="form-label fw-bold font-13" >Remarks</label>
      <input type="text" class="form-control font-12" [(ngModel)]="remark"
      [placeholder]="'home.remarks_placeholder' | translate"  maxlength="256"
      (focus)="isFocused = 'REMARK'" (blur)="isFocused = ''" />
    <h6 *ngIf="isFocused === 'REMARK'" class="text-red-10-mt-4">
      {{ remark?.length || 0 }}/256
    </h6>
    </div>
  </div>
  <div class="offcanvas-footer border-top p-3 d-flex align-items-center">
    <button
      class="btn btn-outline-secondary flex-grow-0 me-2 font-13"
      (click)="closeData()"
    >
      Back
    </button>
    <button class="btn btn-light flex-grow-0 me-2">
    </button>
    <button
      class="btn btn-dark flex-grow-1 text-white font-14"
      (click)="bookNow()"
    >
      Confirm
    </button>
  </div>
</div>
