<div class="mobile-menu-header border-bottom offcanvas-header justify-between">
  <div class="pl-8-semibold">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" (click)="close()" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
    Help & Support
  </div>
</div>
<div class="mobile-menu-content offcanvas-body scroll-y-80">
  <div class="faq-container mb-50">
    <div *ngIf="faqheadLoading" class="loading-container">
      <div class="spinner-border text-center" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngIf="!faqheadLoading && faqDatahead.length === 0" class="text-center w-100 no-data-container custom-faq">
      <img src="assets/img/no-data-concept.jpg" alt="No Data Available" class="img-fluid no-data-img" />
    </div>
    <div *ngIf="!faqheadLoading && faqDatahead.length > 0" class="faq-list">
      <div *ngFor="let panel111 of faqDatahead; let i = index" class="faq-item"
        [ngClass]="{ open: activePanelIndex11111 === i }">
        <button class="faq-question" (click)="togglePanel111111(i, panel111.ID)">
          <span class="text-14-medium">{{ panel111.NAME }} </span>
          <svg [class.rotate]="activePanelIndex11111 === i" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </button>
        <div class="faq-answer" *ngIf="activePanelIndex11111 === i">
          <div *ngIf="faqLoading" class="loading-container">
            <div class="spinner-border text-center" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div *ngIf="faqData.length > 0">
            <div *ngFor="let panel of faqData; let j = index" class="faq-item"
              [ngClass]="{ open: activePanelIndex === j }">
              <button class="faq-question" (click)="togglePanel(j)">
                <span class="text-14-medium">{{ panel.QUESTION }}</span>
                <svg [class.rotate]="activePanelIndex === j" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
              </button>
              <div class="faq-answer" *ngIf="activePanelIndex === j">
                <p>{{ panel.ANSWER }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="!faqLoading && faqData.length === 0" class="text-center w-100 custom-faq min-h-10">
            <img src="assets/img/no-data-concept.jpg" alt="No Data Available" class="max-w-100-auto-h" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isDrawerVisible" id="offcanvasRight11" class="offcanvas offcanvas-end widthclass" tabindex="-1"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-body p-0">
    <app-show-tickets [drawerClose]="closeCallback" [isDrawerVisible]="isDrawerVisible"></app-show-tickets>
  </div>
</div>