<main class="main">
  <section
    id="hero"
    class="hero section card-white-rounded"
  >
    <div class="carousel hero-carousel-container">
      <owl-carousel-o
        *ngIf="carouselItems.length > 0"
        [options]="carouselOptions"
      >
        <ng-container *ngFor="let item of carouselItems">
          <ng-template carouselSlide>
            <div class="carousel-item">
              <div
                class="carousel-image"
                [ngStyle]="{
                  'background-image':
                    'url(' + IMAGEuRL + 'BannerImages/' + item.IMAGE_URL + ')',
                  'background-size': '100% 100%',
                  'background-position': 'center',
                  'background-repeat': 'no-repeat'
                }"
              ></div>
              <div class="carousel-container text-left" >
                <h3
                  [style.color]="item.TITLE_COLOR + ' !important'"
                  class="carousel-title"
                >
                  {{ item.TITLE }}
                </h3>
                <h6
                  [style.color]="item.SUB_TITLE_COLOR + ' !important'"
                  class="carousel-title"
                >
                  {{ item.SUB_TITLE }}
                </h6>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </section>
  <section id="services" class="services section">
    <div
      class="container section-title d-flex justify-content-between align-items-start pb-5-plr-23"
      data-aos="fade-up"
    >
      <div class="d-flex align-items-center">
        <span
          class="me-2 indicator-bar"
        ></span>
        <p class="fw-bold m-0 responsive-text">
          {{ "shop.PopularBrands" | translate }}
        </p>
      </div>
      <div class="view-catalogue">
        <span class="text-600-pointer-orange"
          [routerLink]="['/shop/brands']"
          >{{ "shop.AllBrands" | translate }}</span
        >
      </div>
    </div>
    <div
      class="container team d-flex justify-content-center align-items-center demo12"
    >
      <div
        *ngIf="loadService"
        class="spinner-border text-secondary"
        role="status"
      >
        <span class="sr-only"></span>
      </div>
      <div *ngIf="!loadService" class="row demo11 w-100">
        <owl-carousel-o
          *ngIf="brand.length >= 4 || isMobile"
          [options]="carouselOptions1"
          class="w-100"
          [ngStyle]="{
            'max-width': brand.length === 1 ? '300px' : '100%'
          }"
          class="p-10"
        >
          <ng-container *ngFor="let service of brand">
            <ng-template carouselSlide>
              <div
                class="laptop-card box h-120 d-flex justify-content-center align-items-center bg-white-height-130-pointer"
                (click)="openDrawer(service)"
              >
                <div
                  [ngStyle]="{
                    'background-image':
                      'url(' +
                      (service.BRAND_IMAGE
                        ? IMAGEuRL + 'BrandImages/' + service.BRAND_IMAGE
                        : 'assets/img/services/no-image.png') +
                      ')',
                    'background-size': 'contain',
                    'background-position': 'center',
                    'background-repeat': 'no-repeat',
                    width: '100px',
                    height: '100px',
                    margin: '10px auto'
                  }"
                  class="card-img-top img-fluid"
                ></div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <div *ngIf="brand.length < 4 && !isMobile" class="row w-100">
          <div
            class="col-12 col-sm-6 col-lg-3 col-xl-2-4 col-lg-2-3"
            *ngFor="let service of brand"
          >
            <div (click)="openDrawer(service)">
              <div
                [ngStyle]="{
                  'background-image':
                    'url(' +
                    (service.BRAND_IMAGE
                      ? IMAGEuRL + 'BrandImages/' + service.BRAND_IMAGE
                      : 'assets/img/services/no-image.png') +
                    ')',
                  'background-size': 'contain',
                  'background-position': 'center',
                  'background-repeat': 'no-repeat',
                  margin: '10px auto',
                  height: '100px',
                  'border-radius': '8px',
                  border: 'none',
                  'background-color': 'white'
                }"
                class="card-img-top img-fluid"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    id="top-selling-laptops"
    class="services section padding-10-pt-20-pb-0"
  >
    <div
      class="container section-title d-flex justify-content-between align-items-start rounded-top-4 padding-0-28-10-pb-0"
      data-aos="fade-up"
    >
      <div class="d-flex align-items-center">
        <span
          class="me-2 indicator-bar"
        ></span>
        <p class="fw-bold m-0 responsive-text">
          {{ "home.top_selling.title" | translate }}
        </p>
      </div>
      <div class="view-catalogue"></div>
    </div>
    <div
      class="container team d-flex justify-content-center align-items-center demo12 rounded-bottom-4 padding-bottom-7"
    >
      <div *ngIf="loadLaptops" class="d-flex justify-content-center py-4">
        <div class="spinner-border text-secondary" role="status">
          <span class="visually-hidden"
            >{{ "home.loading.spinner" | translate }}</span
          >
        </div>
      </div>
      <div *ngIf="!loadLaptops" class="row w-100">
        <div
          *ngFor="let laptop of TopSellingLaptops | slice : 0 : 10"
          class="col-12 col-sm-4 col-md-3 col-xl-2-4 col-lg-2-3 mb-4 margin-mb-0-mt-15"
        >
          <div
            class="card border-0 shadow-sm laptop-card h-80 transition-03-ease-pointer"
          >
            <div
              class="d-flex align-items-center justify-content-center padding-15"
            >
              <img
                [src]="
                  laptop.INVENTORY_IMAGE
                    ? IMAGEuRL + 'InventoryImages/' + laptop.INVENTORY_IMAGE
                    : 'assets/img/services/no-image.png'
                "
                [routerLink]="['/shop/buy_now', laptop.ID]"
                (click)="InventoryId(laptop)"
                class="card-img-top img-fluid your-class-name max-h-180-object-contain-radius-8"
                alt="{{ laptop.ITEM_NAME }}"
                (error)="handleImageError($event)"
              />
              <span
                *ngIf="laptop.IS_REFURBISHED === 1"
                class="badge bg-warning text-dark abs-top-5-right-5-fs-10-pad-4-6-z2-bg-f36631"
              >
                Refurbished
              </span>
            </div>
            <div class="text-center padding-2" >
              <p
                class="card-title service-name pt-0-m-6-fw-500-mb-0"
                [attr.title]="
                  laptop.VARIANT_COMBINATION
                    ? laptop.VARIANT_NAME
                    : laptop.ITEM_NAME
                "
                data-bs-toggle="tooltip"
                data-bs-placement="top"
              >
                <span
                class="font-weight-500"
                  [routerLink]="['/shop/buy_now', laptop.ID]"
                  (click)="InventoryId(laptop)"
                >
                  {{
                    laptop.VARIANT_COMBINATION
                      ? laptop.VARIANT_NAME
                      : laptop.ITEM_NAME
                  }}</span
                >
              </p>
              <p
                class="card-title service-name pt-0-m-6-fw-500-mt-0"
                [attr.title]="laptop.INVENTORY_CATEGORY_NAME"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
              >
                <span
                class="fw-500-color-4d4d4d-fs-11"
                  [routerLink]="['/shop/buy_now', laptop.ID]"
                  (click)="InventoryId(laptop)"
                >
                  {{ laptop.INVENTORY_CATEGORY_NAME }}</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    *ngIf="refurbishedInventoryData.length > 0"
    id="refurbished-inventory"
    class="services section pad-10-pt-30-pb-0"
  >
    <div
      class="container section-title d-flex justify-content-between align-items-start rounded-top-4 padding-0-28-10-pb-0"
      data-aos="fade-up"
    >
      <div class="d-flex align-items-center">
        <span
          class="me-2 indicator-bar"
        ></span>
        <p class="fw-bold m-0 responsive-text">Refurbished Products</p>
      </div>
      <div class="view-catalogue">
        <span class="text-600-pointer-orange"
          [routerLink]="['/shop/allrefurbisheddata']"
        >
          View All</span
        >
      </div>
    </div>
    <div
      class="container team d-flex justify-content-center align-items-center demo12 rounded-bottom-4 padding-bottom-7"
    >
      <div
        *ngIf="loadServiceforRefurbished"
        class="d-flex justify-content-center py-4"
      >
        <div class="spinner-border text-secondary" role="status">
          <span class="sr-only">{{ "home.loading.spinner" | translate }}</span>
        </div>
      </div>
      <div *ngIf="!loadServiceforRefurbished" class="row w-100">
        <div
          *ngFor="let item of refurbishedInventoryData | slice : 0 : 10"
          class="col-12 col-sm-4 col-md-3 col-xl-2-4 col-lg-2-3 mb-4 margin-mb-0-mt-15"
        >
          <div
            class="card border-0 shadow-sm laptop-card h-80 transition-03-ease-pointer"
          >
            <div
              class="d-flex align-items-center justify-content-center padding-15"
            >
              <img
                [src]="
                  item.INVENTORY_IMAGE
                    ? IMAGEuRL + 'InventoryImages/' + item.INVENTORY_IMAGE
                    : 'assets/img/services/no-image.png'
                "
                [routerLink]="['/shop/buy_now', item.ID]"
                (click)="InventoryId(item)"
                class="card-img-top img-fluid your-class-name max-h-180-object-contain-radius-8"
                alt="{{ item.ITEM_NAME }}"
                (error)="handleImageError($event)"
              />
            </div>
            <div class="text-center padding-2" >
              <p
                class="card-title service-name pt-0-m-6-fw-500-mb-0"
                [attr.title]="
                  item.VARIANT_COMBINATION ? item.VARIANT_NAME : item.ITEM_NAME
                "
                data-bs-toggle="tooltip"
                data-bs-placement="top"
              >
                <span
                class="font-weight-500"
                  [routerLink]="['/shop/buy_now', item.ID]"
                  (click)="InventoryId(item)"
                >
                  {{
                    item.VARIANT_COMBINATION
                      ? item.VARIANT_NAME
                      : item.ITEM_NAME
                  }}
                </span>
              </p>
              <p
                class="card-title service-name pt-0-m-6-fw-500-mt-0"
                [attr.title]="item.INVENTORY_CATEGORY_NAME"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
              >
                <span
                class="fw-500-color-4d4d4d-fs-11"
                  [routerLink]="['/shop/buy_now', item.ID]"
                  (click)="InventoryId(item)"
                >
                  {{ item.INVENTORY_CATEGORY_NAME }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container mt-4 padding-top-20">
    <div
      class="container section-title d-flex justify-content-between align-items-start"
      data-aos="fade-up"
    >
      <div class="dropdown-container width-300">
        <button
          class="dropdown-toggle"
          (click)="toggleDropdown()"
          #dropdownButton
        >
          <span class="dropdown-text">{{ selectedOption }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
          >
            <mask
              id="mask0_4966_4175"
              class="mask-alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="30"
              height="30"
            >
              <rect width="30" height="30" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_4966_4175)">
              <path
                d="M14.2504 24.001C14.0383 24.001 13.8593 23.9291 13.7135 23.7854C13.5676 23.6416 13.4947 23.4635 13.4947 23.251V16.1572L6.15098 7.21973C5.96348 6.96973 5.93494 6.7041 6.06536 6.42285C6.19557 6.1416 6.42202 6.00098 6.74473 6.00098H23.2447C23.5674 6.00098 23.7939 6.1416 23.9241 6.42285C24.0545 6.7041 24.026 6.96973 23.8385 7.21973L16.4947 16.1572V23.251C16.4947 23.4635 16.4231 23.6416 16.2797 23.7854C16.1362 23.9291 15.9585 24.001 15.7466 24.001H14.2504ZM14.9947 14.4385L20.0572 8.25098H9.90098L14.9947 14.4385Z"
                fill="#2A3B8F"
              />
            </g>
          </svg>
        </button>
        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <button
            class="dropdown-item"
            [class.active]="selectedOption === 'Latest'"
            (click)="selectFilter('Latest')"
          >
            Latest
          </button>
          <button
            class="dropdown-item"
            [class.active]="selectedOption === 'Alphabetic'"
            (click)="selectFilter('Alphabetic')"
          >
            Alphabetic
          </button>
          <button
            class="dropdown-item"
            [class.active]="selectedOption === 'Top Rated'"
            (click)="selectFilter('Top Rated')"
          >
            Top Rated
          </button>
          <button
            class="dropdown-item"
            [class.active]="selectedOption === 'Price: Low to High'"
            (click)="selectFilter('Price: Low to High')"
          >
            Price: Low to High
          </button>
          <button
            class="dropdown-item"
            [class.active]="selectedOption === 'Price: High to Low'"
            (click)="selectFilter('Price: High to Low')"
          >
            Price: High to Low
          </button>
        </div>
      </div>
    </div>
    <div
      *ngIf="inventorydata.length > 0; else noDataTemplate1"
      class="offcanvas-body padding-0"
    >
      <div
        class="container team d-flex justify-content-center align-items-center demo12"
      >
        <div
          *ngIf="!loadServiceforinventory"
          class="row gx-5 justify-content-left width-100vw"
        >
          <div
            class="col-md-4 col-sm-6 mb-4"
            *ngFor="
              let product of inventorydata
                | slice : 0 : (showAll ? inventorydata.length : 9)
            "
          >
            <div class="product-card">
              <div
                class="cursor-pointer"
                [routerLink]="['/shop/buy_now', product.ID]"
                (click)="InventoryId(product)"
                [ngStyle]="{
                  'background-image':
                    'url(' +
                    (product.INVENTORY_IMAGE
                      ? IMAGEuRL + 'InventoryImages/' + product.INVENTORY_IMAGE
                      : 'assets/img/services/no-image.png') +
                    ')',
                  'background-size': '100% 100%',
                  'background-position': 'center',
                  'background-repeat': 'no-repeat',
                  height: '240px',
                  'border-radius': '8px',
                  'background-color': 'rgb(245, 248, 253)',
                  border: 'none'
                }"
              ></div>
              <span
                class="product-title text-ellipsis-14px"
                [attr.title]="product.VARIANT_NAME || 'N/A'"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
              >
                {{ product.VARIANT_NAME || "N/A" }}
              </span>
              <span
                class="product-title text-ellipsis-12px"
                [attr.title]="product.INVENTORY_CATEGORY_NAME || 'N/A'"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
              >
                {{ product.INVENTORY_CATEGORY_NAME || "N/A" }}
              </span>
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2 mb-2">
                  <div
                    *ngIf="product.UNIT_STOCK != 0" class="color-9b9d9f-fs-12"
                  >
                    {{ product.UNIT_STOCK }}
                    {{ "shop.leftInStock" | translate }}
                  </div>
                  <div
                    *ngIf="product.UNIT_STOCK == 0"
                    class="text-danger font-size-12"
                  >
                    {{ "shop.outofstock" | translate }}
                  </div>
                </div>
                <div
                  *ngIf="product.QUANTITY_PER_UNIT == 1"
                  class="d-flex gap-1 text-warning"
                ></div>
                <div
                  *ngIf="product.QUANTITY_PER_UNIT != 1"
                  class="d-flex gap-1 text-warning font-12-color-f36631"
                >
                  ( Pack of {{ product.QUANTITY_PER_UNIT }} )
                </div>
              </div>
              <hr class="margin-0-0-7-0" />
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2 mb-2">
                  <span
                    class="product-price fw-bold-color-3170de-fs-14"
                    *ngIf="product.DISCOUNT_ALLOWED == 1"
                  >
                    ₹{{ product.DISCOUNTED_PRICE | number }}
                  </span>
                  <span
                    *ngIf="product.DISCOUNT_ALLOWED == 0" class="fw-bold-color-3170de-fs-14"
                  >
                    ₹{{ product.SELLING_PRICE | number }}
                  </span>
                </div>
                <div class="d-flex gap-2">
                  <span
                    *ngIf="product.DISCOUNT_ALLOWED == 1"
                    class="product-old-price line-through-14"
                  >
                    ₹{{ product.SELLING_PRICE | number }}
                  </span>
                </div>
              </div>
              <div class="d-flex gap-2">
                <button
                  *ngIf="product.IS_ALREADY_IN_CART == 1"
                  [disabled]="product.UNIT_STOCK == 0"
                  class="w-50 radius-5-color-3170de-border-14"
                  routerLink="/shop/cart"
                >
                  {{ "shop.gotocart" | translate }}
                </button>
                <button
                  *ngIf="product.IS_ALREADY_IN_CART == 0"
                  [disabled]="
                    product.UNIT_STOCK == 0 || product.loadingBuyNowcart
                  "
                  class="w-50 bg-white-radius-5-color-3170de-border-14"
                  (click)="
                    teritory_id !== 0 &&
                    teritory_id !== undefined &&
                    teritory_id !== null
                      ? addToCart(product, '')
                      : openSuggestionModal()
                  "
                >
                  <span
                    *ngIf="product.loadingBuyNowcart"
                    class="spinner-border spinner-border-sm"
                  ></span>
                  <span>&nbsp;{{ "shop.AddToCart" | translate }}</span>
                </button>
                <button
                  class="btn btn-buy w-50"
                  [disabled]="product.UNIT_STOCK == 0 || product.loadingBuyNow"
                  (click)="
                    teritory_id !== 0 &&
                    teritory_id !== undefined &&
                    teritory_id !== null
                      ? handleBuyNow(product)
                      : openSuggestionModal()
                  "
                >
                  <span
                    *ngIf="product.loadingBuyNow"
                    class="spinner-border spinner-border-sm"
                  ></span>
                  <span>&nbsp;{{ "shop.buyNow" | translate }}</span>
                </button>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <button
              *ngIf="inventorydata.length > 9 && !showAll"
              class="btn btn-primary bg-3170de"
              (click)="loadMore()"
              [disabled]="loading"
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm"
              ></span>
              {{ loading ? "Loading..." : "Load More" }}
            </button>
          </div>
        </div>
      </div>
      <ng-template #noDataTemplate1>
        <div class="text-center p-3">
          <img
            src="assets/img/hand-drawn-no-data-concept.png"
            alt="No Data Available"
            class="img-fluid max-w-350"
          />
          <p class="text-muted mt-2">
            <b>{{ "shop.NoDataAvailable" | translate }}</b>
          </p>
        </div>
      </ng-template>
    </div>
  </div>
  <div
    class="offcanvas offcanvas-end custom-offcanvas-width width-700"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
    #offcanvas
  >
    <div
      class="offcanvas-header justify-content-between align-items-start padding-10-bg-white"
    >
      <h5 id="offcanvasRightLabel" class="mb-0-font-16" >
        {{ DrawerName }}
      </h5>
      <div class="d-flex align-items-center gap-2">
        <div class="dropdown width-300-relative">
          <button
            class="btn btn-outline-secondary dropdown-toggle w-100 d-flex justify-content-between align-items-center"
            type="button"
            (click)="toggleDropdown1()"
          >
            {{
              selectedOption1 === "All"
                ? "All"
                : getCategoryNameById(selectedOption1)
            }}
          </button>
          <ul
            class="dropdown-menu dropdown-absolute-scroll"
            *ngIf="isDropdownOpen1"
          >
            <li>
              <a
                class="dropdown-item white-space-pre-line"
                [class.active]="selectedOption1 === 'All'"
                (click)="selectFilter2('All'); toggleDropdown1()"
                >All</a
              >
            </li>
            <li *ngFor="let cat of InventoryCategory">
              <a
                class="dropdown-item white-space-pre-line"
                [class.active]="selectedOption1 === cat.ID"
                (click)="selectFilter2(cat.ID); toggleDropdown1()"
                >{{ cat.CATEGORY_NAME }}</a
              >
            </li>
          </ul>
        </div>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
    </div>
    <div
      class="container team d-flex justify-content-center align-items-center demo12"
    >
      <div
        *ngIf="loadServicefordrawer"
        class="spinner-border text-secondary"
        role="status"
      >
        <span class="sr-only"></span>
      </div>
    </div>
    <div *ngIf="displayednventory.length > 0; else noDataTemplate1">
      <div class="offcanvas-body overflow-auto-padding-0">
        <div class="container mt-4">
          <div *ngIf="!loadServicefordrawer" class="row justify-content-left">
            <div
              class="col-md-6 col-sm-6 mb-6 pb-15"
              *ngFor="let product of displayednventory"
            >
              <div class="product-card border-1-ddd">
                <div
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                  [routerLink]="['/shop/buy_now', product.ID]"
                  (click)="InventoryId(product)"
                  class="product-image w-100 mb-3 cursor-pointer-relative"
                >
                  <span
                    *ngIf="product.IS_REFURBISHED == 1"
                    class="badge bg-warning text-dark abs-top-5-right-5-fs-10-pad-4-6-z2-bg-f36631"
                  >
                    Refurbished
                  </span>
                  <img
                    [src]="
                      IMAGEuRL + 'InventoryImages/' + product.INVENTORY_IMAGE
                    "
                    class="img-fluid full-size-padding-0"
                    alt="{{ product.INVENTORY_IMAGE }}"
                    (error)="onImageError($event)"
                  />
                </div>
                <h5
                  class="product-title cursor-ellipsis-14"
                  (click)="inventoryDetail(product)"
                  *ngIf="product.IS_HAVE_VARIANTS == 0"
                  [attr.title]="product.ITEM_NAME"
                >
                  {{ product?.ITEM_NAME }}
                </h5>
                <h5
                  class="product-title cursor-ellipsis-14"
                  (click)="inventoryDetail(product)"
                  *ngIf="product.IS_HAVE_VARIANTS == 1"
                  [attr.title]="product.VARIANT_COMBINATION"
                >
                  {{ product?.VARIANT_COMBINATION }}
                </h5>
                <span
                  class="product-title text-ellipsis-12"
                  (click)="inventoryDetail(product)"
                  [attr.title]="product.INVENTORY_CATEGORY_NAME || 'N/A'"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                >
                  {{ product.INVENTORY_CATEGORY_NAME || "N/A" }}
                </span>
                <div
                  class="d-flex justify-content-between font-size-12"
                >
                  <div class="d-flex gap-2 mb-2">
                    <div
                      *ngIf="product.UNIT_STOCK != 0" class="color-9b9d9f-fs-12"
                    >
                      {{ product.UNIT_STOCK }}
                      {{ "shop.leftInStock" | translate }}
                    </div>
                    <div
                      *ngIf="product.UNIT_STOCK == 0"
                      class="text-danger font-size-12"
                    >
                      {{ "shop.outofstock" | translate }}
                    </div>
                  </div>
                  <div
                    *ngIf="product.QUANTITY_PER_UNIT == 1"
                    class="d-flex gap-1 text-warning"
                  >
                  </div>
                  <div
                    *ngIf="product.QUANTITY_PER_UNIT != 1"
                    class="d-flex gap-1 text-warning"
                  >
                    ( pack of {{ product.QUANTITY_PER_UNIT }} )
                  </div>
                </div>
                <hr class="margin-0-0-7-0" />
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2 mb-2">
                    <span
                      class="product-price fw-bold-fs-14"
                      *ngIf="product.DISCOUNT_ALLOWED == 1"
                    >
                      &#8377; {{ product.DISCOUNTED_PRICE | number }}
                    </span>
                    <span
                      *ngIf="product.DISCOUNT_ALLOWED == 0" class="fw-bold-color-3170de-fs-14"
                    >
                      &#8377; {{ product.SELLING_PRICE | number }}
                    </span>
                  </div>
                  <div class="d-flex gap-2">
                    <span
                      *ngIf="product.DISCOUNT_ALLOWED == 1"
                      class="product-old-price line-through-bold-14"
                    >
                      &#8377; {{ product.SELLING_PRICE | number }}
                    </span>
                  </div>
                </div>
                <div class="d-flex gap-2">
                  <button
                    *ngIf="product.IS_ALREADY_IN_CART == 1"
                    [disabled]="product.UNIT_STOCK == 0"
                    class="w-50 radius-5-color-3170de-fs-14-border"
                    routerLink="/shop/cart"
                  >
                    {{ "shop.gotocart" | translate }}
                  </button>
                  <button
                    *ngIf="product.IS_ALREADY_IN_CART == 0"
                    [disabled]="
                      product.UNIT_STOCK == 0 || product.loadingBuyNowcart
                    "
                    class="w-50 radius-5-color-3170de-fs-14-border"
                    (click)="
                      teritory_id !== 0 &&
                      teritory_id !== undefined &&
                      teritory_id !== null
                        ? addToCart(product, 'S')
                        : openSuggestionModal()
                    "
                  >
                    <span
                      *ngIf="product.loadingBuyNowcart"
                      class="spinner-border spinner-border-sm"
                    ></span>
                    <span
                      [style.visibility]="
                        product.loadingBuyNowcart ? 'hidden' : 'visible'
                      "
                      class="font-14"
                    >
                      {{ "shop.AddToCart" | translate }}
                    </span>
                  </button>
                  <button
                    class="btn btn-buy w-50 padding-3-5"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                    (click)="
                      teritory_id !== 0 &&
                      teritory_id !== undefined &&
                      teritory_id !== null
                        ? handleBuyNow(product)
                        : openSuggestionModal()
                    "
                    [disabled]="
                      product.UNIT_STOCK == 0 || product.loadingBuyNow
                    "
                  >
                    <span
                      *ngIf="product.loadingBuyNow"
                      class="spinner-border spinner-border-sm"
                    ></span>
                    <span
                      [style.visibility]="
                        product.loadingBuyNow ? 'hidden' : 'visible'
                      "
                      class="font-14"
                    >
                      {{ "shop.buyNow" | translate }}
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="d-flex justify-content-center mt-3"
            *ngIf="filteredTotalCount > displayednventory.length"
          >
            <button
              class="btn btn-primary d-flex align-items-center justify-content-center"
              (click)="loadMoreInventory()"
              [disabled]="loadingMoreInventory"
            >
              <span
                *ngIf="loadingMoreInventory"
                class="spinner-border spinner-border-sm me-2"
              ></span>
              {{ loadingMoreInventory ? "Loading..." : "Load More" }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noDataTemplate1>
      <div class="text-center p-3">
        <img
          src="assets/img/hand-drawn-no-data-concept.png"
          alt="No Data Available"
          class="img-fluid max-w-350"
        />
        <p class="text-muted mt-2">
          <b>{{ "shop.NoDataAvailable" | translate }}</b>
        </p>
      </div>
    </ng-template>
  </div>
  <div
    class="modal fade"
    id="guestModal"
    tabindex="-1"
    aria-labelledby="guestModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div
        class="modal-content card-style-12"
      >
        <div class="modal-header border-0">
          <h5 class="fw-bold m-auto color-333-fs-20" >
            <i class="bi bi-person-circle"></i> You are a Guest
          </h5>
          <button
            type="button"
            class="btn-close mx-0 px-0"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p class="fs-15-color-555-lh-15" >
            Please <strong>login</strong> to add an item to your cart and enjoy
            seamless service.
          </p>
        </div>
        <div class="modal-footer border-0 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-outline-dark px-4 py-2 rounded-pill border-black transition-03-fw-500"
            data-bs-dismiss="modal"
          >
            <i class="bi bi-x-circle"></i> Cancel
          </button>
          <button
            type="button"
            class="btn btn-primary px-4 py-2 rounded-pill bg-0052cc-btn"
            (click)="redirectToLogin()"
          >
            <i class="bi bi-box-arrow-in-right"></i> Login
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="suggestionModal"
    tabindex="-1"
    aria-labelledby="suggestionModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div
        class="modal-content text-center p-4 position-relative suggestion-modal-content"
      >
        <button
          type="button"
          class="btn-close position-absolute top-10-right-10"
          (click)="closeSuggestionModal()"
          aria-label="Close"
        ></button>
        <div class="modal-body mt-2 suggestion-modal-body">
          <h5
            class="modal-title mb-3 fs-16-fw-600"
            id="suggestionModalLabel"
          >
            Product Not Deliverable
          </h5>
          <p class="text-muted mb-0 font-14" >
            This product can’t be delivered to your location. Please select
            another location.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="guestuser"
    class="modal fade show fullscreen-overlay"
    id="guestModal"
    tabindex="-1"
    aria-labelledby="guestModalLabel"
    aria-hidden="false"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
  >
    <div
      class="modal-dialog modal-dialog-centered centered-flex-container"
    >
      <div
        class="modal-content card-fadeinup"
      >
        <div class="modal-header border-0">
          <h5 class="fw-bold m-auto color-333-fs-20" >
            <i class="bi bi-person-circle"></i> You are a Guest
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeloginmodal()"
          ></button>
        </div>
        <div class="modal-body">
          <p class="fs-15-color-555-lh-15" >
            Please <strong>login</strong> to add an item to your cart and enjoy
            seamless service.
          </p>
        </div>
        <div class="modal-footer border-0 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-outline-dark px-4 py-2 rounded-pill border-black transition-03-fw-500"
            data-bs-dismiss="modal"
            (click)="closeloginmodal()"
          >
            <i class="bi bi-x-circle"></i> Cancel
          </button>
          <button
            type="button"
            class="btn btn-primary px-4 py-2 rounded-pill bg-0052cc-btn"
            (click)="redirectToLogin()"
          >
            <i class="bi bi-box-arrow-in-right"></i> Login
          </button>
        </div>
      </div>
    </div>
  </div>
  <style>
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>
</main>
<div *ngIf="!isAddressLine1Stored1" >
<app-commonmap></app-commonmap>
</div>