<div *ngIf="modalVisible">
  <div class="backdrop"></div>
  <div class="map-container">
    <div
      class="map-header btn-flex"
    >
      <div class="flex-column-center"
      >
        <p
          class="mb-0 text-bold-16-white"
        >
          User Location
        </p>
        <p
          class="text-muted small mb-0 text-12-white-m-0"
        >
          Place the marker at your order location
        </p>
      </div>
      <div class="text-end-p-6" *ngIf="gettruecondition()">
        <button class="close-menu-btn" (click)="closeMap()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </div>
    </div>
    <div id="map"></div>
    <div class="location-details">
      <p class="ml-650">{{ locationAddress || "Fetching address..." }}</p>
    </div>
    <div class="map-footer">
      <button class="btn-primary"
        [disabled]="!locationAddress"
        (click)="confirmLocation()"
      >
        Confirm Location
      </button>
    </div>
  </div>
</div>
<div *ngIf="isMobileMenuOpen" class="backdrop"></div>
<div class="mobile-menu" [class.show]="isMobileMenuOpen">
  <div *ngIf="showContent == 'addressTab'">
    <div class="mobile-menu-header justify-left">
      <button class="close-menu-btn" (click)="closeMobileMenu()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
      </button>
      Saved Addresses
    </div>
    <div *ngIf="loadAddresses" class="loading-container">
      <div class="spinner-border text-center" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngIf="!loadAddresses" class="mobile-menu-content">
      <div class="saved-addresses">
        <div
          class="address-card"
          *ngFor="let address of addressData; let i = index"
        >
          <div class="address-header">
            <div class="icon-text">
              <i class="bi bi-house-door"></i>
              <span class="address-name">{{ address.ADDRESS_LINE_1 }}</span>
            </div>
            <button class="edit-btn" (click)="editAddress(address)">
              <i class="bi bi-pencil"></i>
            </button>
          </div>
          <div class="address-details">
            {{ address.ADDRESS_LINE_2 }}
          </div>
          <div class="default-badge" *ngIf="address.IS_DEFAULT">
            Default Address
          </div>
        </div>
        <div class="add-address" (click)="addNewAddress()">
          + Add New Address
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showContent == 'addressForm'">
    <div *ngIf="addressForm">
      <div
        class="mobile-menu-header justify-right"
        *ngIf="gettruecondition()"
      >
        <button class="close-menu-btn" (click)="closeMobileMenu()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </div>
      <div class="mobile-menu-content ">
        <div class="flex-no-shrink-center">
          <svg
            width="66"
            height="66"
            viewBox="0 0 66 66"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="66" height="65.1219" rx="32.561" fill="#FAFAFA" />
            <circle cx="32.561" cy="32.561" r="26.561" fill="#F4F4F4" />
            <path
              d="M20.6299 39.2116C16.1906 33.1201 16.8468 24.7035 22.1766 19.3737C28.154 13.3963 37.8454 13.3963 43.8228 19.3737C49.1526 24.7035 49.8088 33.1201 45.3695 39.2116L36.0195 52.0413C34.5271 54.0892 31.4723 54.0891 29.9799 52.0413L20.6299 39.2116Z"
              fill="#4C4C4C"
            />
            <circle cx="33.0137" cy="31.0567" r="5.97857" fill="#D9D9D9" />
          </svg>
        </div>
        <div
          class="address-form-content flex-column-container"
        >
          <h2 class="form-title">Enter address details</h2>
          <form
            class="address-form flex-1-column"
            #addressSubmit="ngForm"
            (ngSubmit)="saveAddress(addressSubmit)"
            (keydown)="onKeyDown($event)"
          >
            <div class="save-address-type">
              <p class="section-label">Save Address As *</p>
              <div class="address-type-options">
                <label
                  class="radio-container"
                  [class.selected]="addressForm.TYPE === 'H'"
                >
                  <input
                    type="radio"
                    [(ngModel)]="addressForm.TYPE"
                    name="addressType"
                    value="H"
                  />
                  <span class="radio-label">Home</span>
                </label>
                <label
                  class="radio-container"
                  [class.selected]="addressForm.TYPE === 'F'"
                >
                  <input
                    type="radio"
                    [(ngModel)]="addressForm.TYPE"
                    name="addressType"
                    value="F"
                  />
                  <span class="radio-label">Work</span>
                </label>
                <label
                  class="radio-container"
                  [class.selected]="addressForm.TYPE === 'O'"
                >
                  <input
                    type="radio"
                    [(ngModel)]="addressForm.TYPE"
                    name="addressType"
                    value="O"
                  />
                  <span class="radio-label">Other</span>
                </label>
              </div>
            </div>
            <div
              class="form-group flex-center-pointer-bold"
            >
              <span
                (click)="onshowMap()"
                class="form-text text-3170de"
                >Change Location</span
              >
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="House number/flat no/floor no"
                [(ngModel)]="addressForm.ADDRESS_LINE_1"
                name="addressLine1"
                required
                #addressLine1="ngModel"
                autocomplete="off"
              />
              <div
                *ngIf="(addressLine1.errors?.['required'] && (addressLine1.touched || addressSubmitted))"
                class="error-message"
              >
                Please enter house number/flat no/floor no.
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="addressForm.ADDRESS_LINE_2"
                placeholder="area/street/village"
                name="addressLine2"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Landmark (optional)"
                [(ngModel)]="addressForm.LANDMARK"
                name="LANDMARK"
              />
            </div>
            <span class="d-none"> {{ searchPincode }} </span>
            <div class="form-group pincode-field">
              <div class="pincode-input-group">
                <div class="input-container">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="selectedPincode"
                    [placeholder]="selectedPincode ? '' : 'Select pincode'"
                    name="pincode"
                    readonly
                    #pincode="ngModel"
                    autocomplete="false"
                    required
                  />
                  <div
                    *ngIf="isLoading"
                    class="loading-container1 spinner-inside"
                  >
                    <div
                      class="spinner-border text-center"
                      role="status"
                    >
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="pincode.errors?.['required'] && (pincode.touched || addressSubmitted)"
                class="error-message"
              >
                Please Enter Valid Pincode
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                required
                #cityName="ngModel"
                class="form-control"
                [(ngModel)]="addressForm.CITY_NAME"
                placeholder="Enter city name"
                name="cityName"
              />
            </div>
            <div
              *ngIf="cityName.errors?.['required'] && (cityName.touched || addressSubmitted)"
              class="error-message mt-0-mb-20"
            >
              Please Enter City
            </div>
            <div class="form-group pincode-field">
              <div
                class="pincode-input-group"
                (click)="toggleStatesDropdown(); $event.stopPropagation()"
              >
                <input
                  type="text"
                  class="form-control"
                  name="state"
                  [value]="selectedState || 'Select State...'"
                  readonly
                />
                <div class="dropdown-icon">
                  <svg width="10" height="6" viewBox="0 0 10 6" fill="none">
                    <path d="M1 1L5 5L9 1" stroke="#666" stroke-width="1.5" />
                  </svg>
                </div>
              </div>
              <div class="pincode-dropdown-container" *ngIf="showStateDropdown">
                <div class="pincode-dropdown">
                  <div class="search-box">
                    <input
                      type="text"
                      placeholder="Search State..."
                      [(ngModel)]="searchState"
                      name="stateSearch"
                      (input)="filterStates($event)"
                      (click)="$event.stopPropagation()"
                    />
                  </div>
                  <div class="pincode-list">
                    <div
                      class="pincode-item"
                      *ngFor="let state of filteredStates"
                      (click)="selectState(state); $event.stopPropagation()"
                    >
                      <span class="area">{{ state.NAME }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="form-check"
              *ngIf="VisibleIsDefault && gettruecondition()"
            >
              <input
                class="form-check-input"
                [(ngModel)]="addressForm.IS_DEFAULT"
                type="checkbox"
                name="flexCheckChecked"
                id="flexCheckChecked"
              />
              <label
                class="form-check-label fs-13-fw-600"
                for="flexCheckChecked"
              >
                Is Default Address
              </label>
            </div>
            <button
              type="submit"
              class="confirm-button mt-auto"
              [disabled]="isConfirmLoading"
            >
              <span
                *ngIf="isConfirmLoading"
                class="spinner-border spinner-border-sm me-2"
              ></span>
              {{ isConfirmLoading ? "Confirming..." : "Confirm" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
