<section class="service-section py-4">
  <div class="container pt-4 pb-4 ps-2 pe-2 m-auto">
    <div class="d-flex align-items-center justify-content-between mt-0-important">
      <div class="d-flex align-items-center">
        <a
          [routerLink]="'/service'"
          class="back-button d-flex align-items-center justify-content-center"
        >
          <i class="bi bi-arrow-left text-white"></i>
        </a>
        <p class="fw-bold m-0 responsive-text">
          &nbsp; {{ "service.title" | translate }}
        </p>
      </div>
      <div>
      </div>
    </div>
    <div
      class="d-flex flex-wrap justify-content-start pt-15"
    >
      <button
        *ngFor="let category of groupedCategories"
        class="btn btn-sm me-3 mb-2"
        [ngClass]="{
          'btn-custom': selectedCategory === category.NAME,
          'btn-outline-secondary': selectedCategory !== category.NAME
        }"
        (click)="getProjectData(category, false, true)"
        [attr.title]="category.NAME"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
      >
        {{
          category.NAME.length > 20
            ? (category.NAME | slice : 0 : 20) + "..."
            : category.NAME
        }}
      </button>
    </div>
    <div class="service-card-container">
      <div class="row pt-3 m-auto">
        <div *ngIf="loadingpage" class="text-center w-100">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">{{
              "service.loading" | translate
            }}</span>
          </div>
        </div>
        <ng-container
          *ngIf="
            !loadingpage && PopularServices.length > 0;
            else noDataTemplate
          "
        >
          <div
            class="col-12 col-xs-4 col-sm-4 col-md-4 col-xl-2-4 col-lg-2-3"
            *ngFor="let service of PopularServices.slice(0, displayCount)"
          >
            <ng-container *ngIf="service.IS_PARENT === 0">
              <div
                class="card service-card hover-effect cursor-pointer-padding-5"
                (click)="userID !== 0 ? openModal(service) : openLoginModal()"
              >
<div class="fullwidth-card">
  <div
                  [ngStyle]="{
                    'background-image':
                      'url(' +
                      (service.SERVICE_IMAGE
                        ? IMAGEuRL + 'Item/' + service.SERVICE_IMAGE
                        : 'assets/img/services/no-image.png') +
                      ')',
                    'background-size': '100% 100%',
                    'background-position': 'center',
                    'background-repeat': 'no-repeat',
                    width: PopularServices.length < 3 ? '100%' : '100%',
                   'height':'200px',
                   'min-height':'200px',
                   'max-height':'200px',
                    'border-radius': '8px',
                    border: 'none',
                    'background-color': '#f5f8fd'
                  }"
                ></div>
</div>
                <p
                  class="service-name ellipsis-text-200"
                  [attr.title]="service.NAME"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                >
                  {{ service.NAME }}
                </p>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <div
          class="text-center mt-3"
          *ngIf="displayCount < PopularServices.length"
        >
          <button class="btn btn-primary" (click)="loadMore()">
            {{ "service.load_more" | translate }}
          </button>
        </div>
        <ng-template #noDataTemplate>
          <div *ngIf="!loadingpage" class="text-center w-100 no-data-container">
            <img
              src="assets/img/no-data-concept.jpg"
              [alt]="'service.no_data' | translate"
              class="img-fluid no-data-img"
            />
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="exampleModalCenter"
  #exampleModalCenter
  tabindex="-1"
  role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header border-0 d-flex justify-content-between flex-start-padding-custom">
        <button
          type="button"
          class="btn-close m-0-font-13"
          (click)="modalInstance.hide()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pt-0-important">
        <div
          class="bg-light mb-3 d-flex align-items-center justify-content-center height-200-rounded-8"
        >
          <img
            [src]="
              ModalData?.SERVICE_IMAGE
                ? IMAGEuRL + 'Item/' + ModalData.SERVICE_IMAGE
                : 'assets/img/services/no-image.png'
            "
            alt="Service Image" class="img-200-contain-rounded"
          />
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <p class="text-ellipsis-16" [attr.title]="ModalData?.NAME || 'N/A'" data-bs-toggle="tooltip" data-bs-placement="top"> {{ModalData?.NAME}}</p>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div><p *ngIf="customertype !== 'B'" class="mb-1 text-muted font-14" >
              {{ "service.modal.base_price" | translate }}
            </p>
          </div>
          <div class="text-end">
             <p *ngIf="customertype !== 'B'" class="mb-1 fw-bold font-14" >
              ₹ {{ ModalData?.B2C_PRICE| number }}
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <p class="mb-1 text-muted font-14" >
              {{
                customertype === "B"
                  ? ("service.modal.sla" | translate)
                  : ("service.modal.estimate_time" | translate)
              }}
            </p>
          </div>
          <div class="text-end">
            <p class="mb-1 fw-bold font-14" >
                                    {{(ModalData?.DURARTION_HOUR || 0) * 60 + (ModalData?.DURARTION_MIN || 0)}} min
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <p class="mb-1 text-muted font-14" >
            Quantity
            </p>
          </div>
          <div class="text-end">
            <div class="d-flex align-items-center" *ngIf="ModalData?.MAX_QTY>1 else elseqtypart;">
              <button class="btn btn-outline-secondary btn-sm px-2 py-1"
                (click)="decreaseQty1(ModalData, $event)">
                −
              </button>
              <span class="mx-2">{{ ModalData?.QTY }}</span>
              <button class="btn btn-outline-secondary btn-sm px-2 py-1" (click)="increaseQty1(ModalData, ModalData?.MAX_QTY, $event)">
                +
              </button>
            </div>
            <ng-template #elseqtypart>1</ng-template>
          </div>
        </div>
        <div class="about-container">
          <div
            class="accordion mt-10"
            id="aboutAccordion"
          >
           <div class="accordion-item">
          <h2 class="accordion-header" id="heading0">
            <button
              class="accordion-button d-flex justify-content-between align-items-center text-gray-444"
              type="button"
              (click)="toggleAccordion(0)"
              [attr.aria-expanded]="activeIndex === 0"
              aria-controls="collapse0"
            >
              Service Description
              <i
                class="ms-auto"
                [ngClass]="{
                  'bi bi-chevron-down': activeIndex !== 0,
                  'bi bi-chevron-up': activeIndex === 0
                }"
              ></i>
            </button>
          </h2>
          <div
            id="collapse0"
            class="accordion-collapse collapse"
            aria-labelledby="heading0"
            [class.show]="activeIndex === 0"
            data-bs-parent="#aboutAccordion"
          >
            <div class="accordion-body scrollable-200">
              <div *ngIf="ServiceDescription!=='' && ServiceDescription!==undefined && ServiceDescription!==null" [innerHTML]="ServiceDescription"></div>
              <hr *ngIf="ModalData?.SERVICE_DETAILS_IMAGE">
              <div *ngIf="ModalData?.SERVICE_DETAILS_IMAGE">
                <img
                [src]=" IMAGEuRL + 'ServiceDetailsImage/' + ModalData.SERVICE_DETAILS_IMAGE"
                alt="Service Details Image" class="img-fluid w-100"
               />
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-light flex-fill me-2"
          (click)="modalInstance.hide()"
        >
          {{ "service.modal.close" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-dark flex-fill ms-2"
          (click)="openNextDrawer(ModalData); modalInstance.hide()"
        >
          {{ "service.modal.select" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="guestModal"
  tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="guestModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div
      class="modal-content card-style-white"
    >
      <div class="modal-header border-0">
        <h5 class="fw-bold m-auto text-dark-20">
          <i class="bi bi-person-circle"></i>
          {{ "service.guest.title" | translate }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="font-15-gray-line15">
          {{ "service.guest.message" | translate }}
        </p>
      </div>
      <div class="modal-footer border-0 d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-outline-dark px-4 py-2 rounded-pill border-black transition-03-weight-500"
          data-bs-dismiss="modal"
        >
          <i class="bi bi-x-circle"></i>
          {{ "service.guest.cancel" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-primary px-4 py-2 rounded-pill btn-primary-blue"
          (click)="redirectToLogin()"
        >
          <i class="bi bi-box-arrow-in-right"></i>
          {{ "service.guest.login" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="offcanvas offcanvas-end w-500"
  tabindex="-1"
  data-bs-backdrop="static"
  id="offcanvasRight11"
  aria-labelledby="offcanvasRightLabel"
  [class.show]="isDrawerVisible"
>
  <div *ngIf="!loadepage" class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title fw-bold font-14">
      {{ drawerData.CATEGORY_NAME || ("service.drawer.title" | translate) }}
    </h5>
    <button type="button" class="btn-close" (click)="drawerClose()"></button>
  </div>
  <div *ngIf="userID !== 0" class="progress">
    <div
      class="progress-bar bg-orange-f36631"
      role="progressbar"
      [style.width.%]="homepageprogress"
      [attr.aria-valuenow]="homepageprogress"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <div *ngIf="!loadepage" class="demodash offcanvas-body d-flex flex-column" >
    <app-shared-subcategory-drawer
      [fromservice]="fromservice"
      *ngIf="userID !== 0"
      [data]="drawerData"
      [drawerClose]="closeCallback"
      [progress]="homepageprogress"
      [isDrawerVisible]="isDrawerVisible"
      [addresses]="addresses"
      [DefaultAddressArray]="DefaultAddressArray"
      [defaultAddress]="defaultAddress"
      [imagePreview]="imagePreview"
      [quantity]="cartquantity"
      [showModal]="showModal"
    ></app-shared-subcategory-drawer>
  </div>
</div>
